//  MEDIA QUIRIES
//--------------------------

$desktop-width:     1024px;
$tablet-width:      768px;
$mobile-landscape:  640px;
$mobile-portrait:   480px;
$mobile-medium:     380px;
$mobile-small:      320px;


@mixin tablet-landscape {
  @media screen and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin tablet-portrait-up {
  @media only screen and (min-width: $tablet-width) {
    
  }
}
@mixin tablet-portrait {
  @media screen and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mobile-landscape {
  @media screen and (max-width: #{$mobile-landscape - 1px}) {
    @content;
  }
}

@mixin mobile-protrait {
  @media screen and (max-width: #{$mobile-portrait - 1px}) {
    @content;
  }
}


