/* --------------------------------------------------------------
 
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-family: $base-font-family;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	line-height: $line-height;
	font-weight: normal;
}
 
/* Headings
-------------------------------------------------------------- */
 
h1,h2,h3,h4,h5,h6 { 
	font-weight: $base-font-weight;

}
 
h1 { font-size: $h1; margin-bottom: 1em; 
	@include mobile-protrait {
		font-size: $h2;
	}
}
h2 { font-size: $h2; margin-bottom: 1em; 
	@include mobile-protrait {
		font-size: $h3;
	}
}
h3 { font-size: $h3; margin-bottom: 1em; 
	@include mobile-protrait {
		font-size: $h4;
	}
}
h4 { font-size: $h4; margin-bottom: 1em; }
h5 { font-size: $h5; margin-bottom: 1em; }
h6 { font-size: $h6; margin-bottom: 1em; }
/* Entry Text
-------------------------------------------------------------- */

.home .entry {

	h1 { font-size: 40px; 
		@include mobile-protrait {
			font-size: $h2;
		}
	}
	h2 { font-size: $h2;
		@include mobile-protrait {
			font-size: $h3;
		}
	}
	h3 { font-size: $h3;
		@include mobile-protrait {
			font-size: $h4;
		}
	}
	h1, h2, h3 {
		font-family: $century-gothic;
		color: #666;
		position: relative;
		padding-bottom: 0.8em;
		&:before, &:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
		}
		&:before {
			width: 50px;
			height: 3px; 
			background: #666;
			margin-left: -25px;
			bottom: -1px;
			z-index: 1;
		}
		&:after {
			width: 50%;
			margin-left: -25%;
			height: 1px;
			background: #b3b3b3;
		}
	}
}
.entry {
	color: #000;
	font-family: $base-font-family;
	font-weight: normal;
	font-size: $base-font-size;

	*:last-child {
		margin-bottom: 0;
	}
	span, strong {
		font-size: inherit;
	}
	blockquote:before {
		color: $blue;
	}
	img {
		border: 0;
		padding: 0;
		background: none;
	}
	h1, h2, h3, h4 {
		color: $blue;
	}

	h1, h2 {
		text-transform: uppercase;
		border-bottom: 2px solid #b3b3b3;
		position: relative;
		color: #686868;
		padding-bottom: 20px;

		&:before {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 0;
			height: 5px;
			width: 45px;
			background: #666;
		}
		span {
			color: $blue;
		}
	}
	h1, h2, h3, h4, h5, h6 { 
		line-height: 100%;
		font-weight: normal;

	}
	b, strong {
		font-weight:normal;
	}
	
	ul, ol {
		padding-left: 0;
		li {
			list-style: none;
			padding-left: 25px;
			position: relative;
			margin-bottom: 4px;
			&:before {
				content: "";
				height: 15px;
				width: 15px;
				background: image-url('list-ball.jpg')no-repeat center;
				position: absolute;
				left: 0;
				top: 4px;
			}
		}
	}

	p, li {
		color: #000;
		font-family: $base-font-family;
		font-weight: normal;
		font-size: $base-font-size;
		line-height: $line-height;
		@include mobile-protrait {
			font-size: $base-font-size - 2px;
			line-height: $line-height - 2px;
		}
	}
	p { margin-bottom: $p-margin-bottom; }
	a {
		color: $orange;
		text-decoration: underline;
	}


}

/* Post title, Page Title
-------------------------------------------------------------- */
.page-title, .post .title, .page #main .title, .entry-title{
	font-size: $h2; margin-bottom: 1em;
	font-family: $century-gothic;
	color: #666;
	font-weight: normal;

	@include mobile-protrait {
		font-size: $h3;
	}

}

/* Post title Link, Page Title Link
-------------------------------------------------------------- */
.post .title a:link, .post .title a:visited, .page .title a:link, .page .title a:visited {
	color: #3C2820;
}

.business h2, .business h3, .business h4, .business h5, .business h6 {
	margin-top: 0;
}

