// Fonts
// ===========
$lato: 'Open Sans', sans-serif;
$lato-bold: 'Open Sans', sans-serif;
$lato-ita: 'Open Sans', sans-serif;
$coda: 'Open Sans', sans-serif;
$avenir: 'Open Sans', sans-serif;
$avenir-light: 'Open Sans', sans-serif;
$avenir-heavy: 'Open Sans', sans-serif;
$century-gothic: 'Open Sans', sans-serif;

$base-font-family: $lato;


// Colors
// ===========
$text-color: 	#000;
$violet: #9933cc;
$gray: #e1e2e7;
$orange: #ec8441;
$blue: #3da6cd;
// Navigation
// ============
$nav-hover-bgcolor: #c5c6cc;

// Size
// ==========
$base-font-size: 16px;
$body: $base-font-size;
$p: $base-font-size;
$h1: floor(($base-font-size * 2.5));
$h2: floor(($base-font-size * 2.2));
$h3: floor(($base-font-size * 1.9));
$h4: floor(($base-font-size * 1.35));
$h5: $base-font-size;
$h6: ceil(($base-font-size * 0.85));

$line-height: floor(($base-font-size * 1.5));

$p-margin-bottom: floor(($base-font-size * 1.7));

// Style
// ==========
$base-font-weight: normal;