/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 7, 2015 */
@font-face { font-family: 'bitterbold'; src: url("../fonts/bitter-bold-webfont.eot"); src: url("../fonts/bitter-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bitter-bold-webfont.woff2") format("woff2"), url("../fonts/bitter-bold-webfont.woff") format("woff"), url("../fonts/bitter-bold-webfont.ttf") format("truetype"), url("../fonts/bitter-bold-webfont.svg#bitterbold") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'bitterregular'; src: url("../fonts/bitter-regular-webfont.eot"); src: url("../fonts/bitter-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bitter-regular-webfont.woff2") format("woff2"), url("../fonts/bitter-regular-webfont.woff") format("woff"), url("../fonts/bitter-regular-webfont.ttf") format("truetype"), url("../fonts/bitter-regular-webfont.svg#bitterregular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'cinzelbold'; src: url("../fonts/cinzel-bold-webfont.eot"); src: url("../fonts/cinzel-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cinzel-bold-webfont.woff2") format("woff2"), url("../fonts/cinzel-bold-webfont.woff") format("woff"), url("../fonts/cinzel-bold-webfont.ttf") format("truetype"), url("../fonts/cinzel-bold-webfont.svg#cinzelbold") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'cinzelregular'; src: url("../fonts/cinzel-regular-webfont.eot"); src: url("../fonts/cinzel-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cinzel-regular-webfont.woff2") format("woff2"), url("../fonts/cinzel-regular-webfont.woff") format("woff"), url("../fonts/cinzel-regular-webfont.ttf") format("truetype"), url("../fonts/cinzel-regular-webfont.svg#cinzelregular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latobold'; src: url("../fonts/lato-bold-webfont.eot"); src: url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.ttf") format("truetype"), url("../fonts/lato-bold-webfont.svg#latobold") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latoregular'; src: url("../fonts/lato-regular-webfont.eot"); src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg"); font-weight: normal; font-style: normal; }
/* -------------------------------------------------------------- 
Boilerplate typography.css
* Sets up some sensible default typography. 
-------------------------------------------------------------- */
/* This is where you set your desired font size. The line-heights
and vertical margins are automatically calculated from this.
The percentage is of 16px (0.75 * 16px = 12px). */
/* Default fonts and colors. */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea { font-family: "latoregular"; }

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { font-size: 39px; margin-bottom: 1em; }

h2 { font-size: 35px; margin-bottom: 1em; }

h3 { font-size: 28px; margin-bottom: 1em; }

h4 { font-size: 21px; margin-bottom: 1em; }

h5 { font-size: 14px; margin-bottom: 1em; }

h6 { font-size: 12px; margin-bottom: 1em; }

/* Text elements
-------------------------------------------------------------- */
p { margin: 0 0 1em; }

ul, ol { margin: 0; padding: 0; list-style-type: none; }

dl { margin: 0 0 1.5em 0; }

dl dt { font-weight: bold; }

dl dd { margin-left: 1.5em; }

abbr, acronym { border-bottom: 1px dotted #000; }

address { margin-top: 1.5em; font-style: italic; }

del { color: #000; }

a { color: #009; text-decoration: none; }

a:hover { text-decoration: underline; }

blockquote { margin: 1em; }

strong { font-weight: bold; }

em, dfn { font-style: italic; }

dfn { font-weight: bold; }

pre, code { margin: 1.5em 0; white-space: pre; }

pre, code, tt { font: 1em monospace; line-height: 1.5; }

tt { display: block; margin: 1.5em 0; line-height: 1.5; }

/* Tables
-------------------------------------------------------------- */
table { margin-bottom: 1.4em; }

th { border-bottom: 2px solid #ddd; font-weight: bold; }

td { border-bottom: 1px solid #ddd; }

th, td { padding: 4px 10px 4px 0; }

tfoot { font-style: italic; }

caption { background: #ffc; }

/* Some default classes
-------------------------------------------------------------- */
.small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }

.large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }

.quiet { color: #999; }

.hide { display: none; }

.highlight { background: #ffc; }

.top { margin-top: 0; padding-top: 0; }

.bottom { margin-bottom: 0; padding-bottom: 0; }

/* Entry Text
-------------------------------------------------------------- */
.entry { color: #000; font-family: "latoregular"; font-weight: normal; font-size: 18px; line-height: 28px; }
@media (max-width: 479px) { .entry { font-size: 14px; line-height: 24px; } }
.entry *:last-child { margin-bottom: 0; }
.entry img { border: 0; padding: 0; background: none; }
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 { line-height: 1.3em; }
.entry b, .entry strong { font-weight: normal; font-family: "latobold"; }
.entry ul, .entry ol { padding-left: 0; }
.entry ul li, .entry ol li { position: relative; padding-left: 20px; }
.entry ul li:before, .entry ol li:before { position: absolute; top: 0; left: 0; content: "\f105"; font-family: 'fontawesome'; color: #fff; }
.entry p, .entry li { color: #000; font-family: "latoregular"; font-weight: normal; font-size: 18px; line-height: 28px; }
@media (max-width: 479px) { .entry p, .entry li { font-size: 14px; line-height: 24px; } }
.entry p { margin-bottom: 23px; }
.entry a { text-decoration: underline; }

/* Post title, Page Title
-------------------------------------------------------------- */
.page-title, .post #main .title, .page #main .title, .entry-title { font-size: 38px; margin-bottom: 0.5em; font-family: "cinzelregular"; font-weight: normal; text-transform: uppercase; color: #3c2e23; }
@media (max-width: 767px) { .page-title, .post #main .title, .page #main .title, .entry-title { font-size: 34px; } }
@media (max-width: 479px) { .page-title, .post #main .title, .page #main .title, .entry-title { font-size: 28px; } }

/* Post title Link, Page Title Link
-------------------------------------------------------------- */
.post .title a:link, .post .title a:visited, .page .title a:link, .page .title a:visited { color: #3C2820; }

.business h2, .business h3, .business h4, .business h5, .business h6 { margin-top: 0; }

body.full-width #header, #nav-container, body.full-width #content, body.full-width #footer-widgets, body.full-width #footer { padding-left: 12px; padding-right: 12px; }

#content form p, #content form input, #content form textarea, #content form select, #content .gform_wrapper form p, #content .gform_wrapper form input, #content .gform_wrapper form textarea, #content .gform_wrapper form select, #wrapper #widgetContainer form p, #wrapper #widgetContainer form input, #wrapper #widgetContainer form textarea, #wrapper #widgetContainer form select { font-family: "latoregular"; }
#content form input, #content form textarea, #content form select, #content .gform_wrapper form input, #content .gform_wrapper form textarea, #content .gform_wrapper form select, #wrapper #widgetContainer form input, #wrapper #widgetContainer form textarea, #wrapper #widgetContainer form select { border-color: #999; border-width: 1px; font-size: 14px; border-radius: 0; padding: 5px 10px; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#content form select, #content .gform_wrapper form select, #wrapper #widgetContainer form select { padding: 5px 10px; }
#content form input.wpcf7-submit, #content form input[type="submit"], #content form input[type="button"], #content form input[type="reset"], #content .gform_wrapper form input.wpcf7-submit, #content .gform_wrapper form input[type="submit"], #content .gform_wrapper form input[type="button"], #content .gform_wrapper form input[type="reset"], #wrapper #widgetContainer form input.wpcf7-submit, #wrapper #widgetContainer form input[type="submit"], #wrapper #widgetContainer form input[type="button"], #wrapper #widgetContainer form input[type="reset"] { background: #3c2e23 !important; font-size: 16px !important; line-height: 100%; width: auto; border: 0; font-family: "latobold" !important; padding: 0.5em 1em !important; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }

select { border-color: #999; border-width: 1px; font-size: 14px; border-radius: 0; padding: 5px 10px; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "latoregular"; }

#wrapper #widgetOuter .titleBar { font-size: 15px; color: #333; font-family: "bitterregular"; }
#wrapper #widgetOuter .pRows div { font-family: "latoregular"; font-size: 14px; color: #333; }
#wrapper #widgetOuter .pRows:hover div { color: #fff; }
#wrapper #widgetOuter input[type="radio"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 19px; height: 19px; margin: -1px 4px 0 0; vertical-align: middle; cursor: pointer; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: #3c2e23; -moz-transition: background-color 0.4s linear; -o-transition: background-color 0.4s linear; -webkit-transition: background-color 0.4s linear; transition: background-color 0.4s linear; outline: 0; border: 0; }
#wrapper #widgetOuter input[type="radio"]:checked { background: #CC3300; -moz-transition: background-color 0.4s linear; -o-transition: background-color 0.4s linear; -webkit-transition: background-color 0.4s linear; transition: background-color 0.4s linear; border: 0; }
#wrapper #widgetOuter input[type="checkbox"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; display: inline-block; vertical-align: middle; margin-right: 5px; position: relative; height: 26px; width: 26px; }
#wrapper #widgetOuter input[type="checkbox"]:checked:after { content: '\f00c'; content: '\2713'; font-family: 'fontawesome'; position: absolute; left: 0; right: 0; text-align: center; top: 2px; display: block; }

.frmFooter { display: none; }

.shortcode-toggle.border { border: 0; }

.shortcode-toggle.closed h4 a { padding: 10px 15px; color: #fff; text-decoration: none !important; background-color: #ec8441; }

body.full-header.full-slider #loopedSlider { margin-top: 0; }

#loopedSlider.business-slider { height: 400px; position: relative; }
@media (max-width: 639px) { #loopedSlider.business-slider { height: 300px; } }
@media (max-width: 379px) { #loopedSlider.business-slider { height: 240px; } }
#loopedSlider.business-slider .biz-slider-image { height: 400px; background-size: cover; background-position: center center; background-repeat: no-repeat; }
@media (max-width: 639px) { #loopedSlider.business-slider .biz-slider-image { height: 300px; } }
@media (max-width: 379px) { #loopedSlider.business-slider .biz-slider-image { height: 240px; } }
#loopedSlider.business-slider .content { background: none; padding: 0; bottom: 75px; position: absolute; width: 100%; left: 0; text-align: center; padding: 0 12px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#loopedSlider.business-slider .content h2 { padding: 0; font-size: 35px; color: #fff; font-family: 'Cinzel', arial, sans-serif; font-weight: normal; font-weight: normal; }
@media (max-width: 639px) { #loopedSlider.business-slider .content h2 { font-size: 30px; } }
@media (max-width: 479px) { #loopedSlider.business-slider .flex-direction-nav { display: none; } }
#loopedSlider.business-slider .slider-pagination { display: block; position: absolute; bottom: 20px; width: 100%; margin-bottom: 0; z-index: 4; opacity: 1; }
@media (max-width: 479px) { #loopedSlider.business-slider .slider-pagination { display: none; } }
#loopedSlider.business-slider .slider-pagination .flex-control-nav { position: relative; display: block; }
#loopedSlider.business-slider .slider-pagination li { width: auto; height: auto; }
#loopedSlider.business-slider .slider-pagination li a { background: #c0c3b7; border: 3px solid #c0c3b7; width: 10px; height: 10px; }
#loopedSlider.business-slider .slider-pagination .flex-active a { border: 3px solid #fff; background: #3c2e23; }
#loopedSlider.business-slider .slider-pagination .flex-control-nav { margin: 0; }

/* =====================
	Header Style 
======================== */
#header { padding-top: 22px; padding-bottom: 22px; }

/* Nav Toggle Style
======================== */
.nav-toggle { background: #3c2e23; font-size: 15px; font-family: "bitterregular"; }

/* Header Logo
======================== */
@media (max-width: 767px) { #logo { text-align: center; } }

/* =====================
	Header Widget Right 
======================== */
.header-widget { text-align: right; color: #000; font-family: "latoregular"; font-weight: normal; font-size: 18px; line-height: 28px; }
@media (max-width: 767px) { .header-widget { text-align: center; } }
.header-widget .widget p { color: #000; font-family: "bitterregular"; font-weight: normal; font-size: 18px; line-height: 28px; margin-bottom: 0; }
.header-widget .widget p i { margin-right: 7px; }

/* =====================
	Navigation Style 
======================== */
#nav-container { background: #3c2e23; margin-bottom: 0; border: 0; -moz-box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.25); box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.25); }
#nav-container #navigation ul#main-nav > li:first-child { border: 0; }

#navigation { background: none; }
@media (max-width: 767px) { #navigation { background: #3c2e23; } }
#navigation h3 { display: none; }
#navigation ul.nav { float: none; margin: 0; }
#navigation ul.nav ul { background: #5e4837; }
@media (max-width: 767px) { #navigation ul.nav ul { display: none; } }
#navigation ul.nav ul a { color: #fff !important; text-align: left; }
#navigation ul.nav ul a:hover { text-decoration: none; }
#navigation ul.nav > li:hover { background: #5e4837; }
#navigation ul.nav > li:hover a { background: none; }

ul.nav { display: table; width: 100%; }
@media (max-width: 767px) { ul.nav { display: block; } }
ul.nav > li { display: table-cell; vertical-align: middle; text-transform: capitalize; float: none; text-align: center; position: relative; }
@media (max-width: 767px) { ul.nav > li { display: block; text-align: left; } }
ul.nav > li:last-child { margin-right: 0; }
ul.nav > li .dropdown-btn { position: absolute; top: 0; right: 0; color: #fff; background: #534031; display: block; }
ul.nav > li .dropdown-btn i { font-size: 32px; padding: 8px 20px; }
ul.nav > li a { font-size: 15px; font-family: "bitterregular"; text-transform: uppercase; color: #fff; border-left: 1px solid #534031; }
@media (max-width: 767px) { ul.nav > li a { border-left: 0; border-bottom: 1px solid #534031; padding: 1em; } }
ul.nav > li a:hover { color: #fff; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; background: #5e4837 !important; }
ul.nav > li a:after { display: none !important; }
ul.nav > li.current_page_item a, ul.nav > li.current_page_parent a, ul.nav > li.current-menu-ancestor a, ul.nav > li.current-cat a, ul.nav > li.current-menu-item a { color: #fff; background: #5e4837 !important; }

.home .breadcrumb { display: none; }

/* =====================
	Main Section Style 
======================== */
.inner-page-banner { height: 150px; width: 100%; display: block; background-size: cover; background-position: center; background-repeat: no-repeat; margin-bottom: 20px; }

.featured-articles .col-full { padding: 0 34px; overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media (max-width: 639px) { .featured-articles .col-full { padding: 0 12px; } }
.featured-articles img { height: auto !important; }
.featured-articles .threecol-one { width: 31.8%; margin-right: 2.3%; }
.featured-articles .last { margin-right: 0; }
.featured-articles .widget { border: 1px solid #ccc; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; padding-bottom: 20px; }
.featured-articles .widget .widget-title { color: #333; border: 0; font-size: 20px; font-family: "bitterregular"; font-weight: normal; padding: 0 12px 0; }
.featured-articles .widget .widget_sp_image-description { padding: 0 12px; }
.featured-articles a.read-more { display: block; width: 108px; border: 2px solid #413328; border-radius: 3px; text-align: center; text-transform: uppercase; color: #3c2e23; font-family: "bitterregular"; padding: 6px 0; line-height: 100%; text-decoration: none; margin: 0 auto; -moz-transition: 0.5s; -o-transition: 0.5s; -webkit-transition: 0.5s; transition: 0.5s; }
.featured-articles a.read-more:hover { color: #fff; background: #413328; -moz-transition: 0.5s; -o-transition: 0.5s; -webkit-transition: 0.5s; transition: 0.5s; }

#widgetOuter { width: 100% !important; height: auto !important; }
#widgetOuter .frmRow { width: 100%; }

#sidebar #widgetOuter .frmInput #divBuyType span, #sidebar #widgetOuter .frmInput #divLeaseType span { width: 100%; display: block; }
#sidebar #widgetOuter .frmInput { width: 70%; }
#sidebar #widgetOuter .frmInput span { width: 49%; display: none; }
#sidebar #widgetOuter .frmInput span:first-child, #sidebar #widgetOuter .frmInput span:last-child { display: block; margin-right: 0; }
#sidebar #widgetOuter .frmInput span:first-child { margin-right: 2%; }

#widgetOuter .widgetMidd, #widgetOuter .widgetRight, #widgetOuter .widgetHeader { background: none !important; float: none; height: auto !important; }

#widgetOuter .widgetTitle { float: none; padding: 0; width: 100%; font-size: 25px; font-family: "bitterregular"; color: #333; border: 1px solid #b1aba7; padding: 16px 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#widgetBodyDiv { height: auto !important; margin: 0; border: 1px solid #b1aba7; border-top: 0; }

#widgetOuter .titleBar { padding: 0; }

#widgetOuter .widgetFooter, .widgetFooterBody, .widgetFooterLeft { background: none !important; }

#widgetOuter .frmLabel { width: 100px; text-align: left; font-family: "latoregular"; font-size: 14px; color: #333; }

/* =====================
	Sidebar Style 
======================== */
#sidebar .widget:last-child { margin-bottom: 0; }

.widget { color: #000; font-family: "latoregular"; font-weight: normal; font-size: 14px; }
.widget p { color: #000; font-family: "latoregular"; font-weight: normal; font-size: 14px; }

/* Footer Style
==================*/
#footer-widgets-container { background: #3c2e23 url('../../../images/bg-footer.jpg'); }
#footer-widgets-container .widget > h3 { font-family: "cinzelregular"; color: #fff; font-size: 30px; font-weight: normal; border: 0; padding-bottom: 0; }
@media (max-width: 479px) { #footer-widgets-container .widget > h3 { font-size: 26px; } }
#footer-widgets-container .widget li { list-style: none; margin-bottom: 3px; }
#footer-widgets-container .widget p, #footer-widgets-container .widget li { color: #fff; font-size: 15px; font-family: "bitterregular"; text-transform: uppercase; line-height: 1.5em; }
#footer-widgets-container .widget p a, #footer-widgets-container .widget li a { color: #fff; }
#footer-widgets-container #footer-widgets { border: 0; }
#footer-widgets-container ul li, #footer-widgets-container ol li { position: relative; padding-left: 20px; }
#footer-widgets-container ul li:before, #footer-widgets-container ol li:before { position: absolute; top: 0; left: 0; content: "\f105"; font-family: 'fontawesome'; color: #fff; }

#footer-container { background: #c5c1bd; }

#footer { padding-top: 12px; padding-bottom: 12px; }
#footer .col-right, #footer .col-left { float: none; width: 100%; text-align: center; margin: 0; }
#footer #credit { display: none; }
#footer p { color: #3c2e23; margin-bottom: 0; text-transform: uppercase; font-family: "bitterregular"; }