/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background-color: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 7, 2015 */
@font-face { font-family: 'codaregular'; src: url("../fonts/coda-regular-webfont.eot"); src: url("../fonts/coda-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/coda-regular-webfont.woff2") format("woff2"), url("../fonts/coda-regular-webfont.woff") format("woff"), url("../fonts/coda-regular-webfont.ttf") format("truetype"), url("../fonts/coda-regular-webfont.svg#codaregular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latobold'; src: url("../fonts/lato-bol-webfont.eot"); src: url("../fonts/lato-bol-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bol-webfont.woff2") format("woff2"), url("../fonts/lato-bol-webfont.woff") format("woff"), url("../fonts/lato-bol-webfont.ttf") format("truetype"), url("../fonts/lato-bol-webfont.svg#latobold") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latoregular'; src: url("../fonts/lato-reg-webfont.eot"); src: url("../fonts/lato-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-reg-webfont.woff2") format("woff2"), url("../fonts/lato-reg-webfont.woff") format("woff"), url("../fonts/lato-reg-webfont.ttf") format("truetype"), url("../fonts/lato-reg-webfont.svg#latoregular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latoitalic'; src: url("../fonts/lato-regita-webfont.eot"); src: url("../fonts/lato-regita-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regita-webfont.woff2") format("woff2"), url("../fonts/lato-regita-webfont.woff") format("woff"), url("../fonts/lato-regita-webfont.ttf") format("truetype"), url("../fonts/lato-regita-webfont.svg#latoitalic") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'centurygothicregular'; src: url("../fonts/centurygothic/CenturyGothic.eot"); src: url("../fonts/centurygothic/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/centurygothic/CenturyGothic.woff2") format("woff2"), url("../fonts/centurygothic/CenturyGothic.woff") format("woff"), url("../fonts/centurygothic/CenturyGothic.ttf") format("truetype"), url("../fonts/centurygothic/CenturyGothic.svg#latoregular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'avenirmedium'; src: url("../fonts/avenir/avenir-medium-webfont.eot"); src: url("../fonts/avenir/avenir-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir/avenir-medium-webfont.woff2") format("woff2"), url("../fonts/avenir/avenir-medium-webfont.woff") format("woff"), url("../fonts/avenir/avenir-medium-webfont.ttf") format("truetype"), url("../fonts/avenir/avenir-medium-webfont.svg#avenirmedium") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'avenirheavy'; src: url("../fonts/avenir/avenir-heavy.eot"); src: url("../fonts/avenir/avenir-heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir/avenir-heavy.woff2") format("woff2"), url("../fonts/avenir/avenir-heavy.woff") format("woff"), url("../fonts/avenir/avenir-heavy.ttf") format("truetype"), url("../fonts/avenir/avenir-heavy.svg#avenirheavy") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'avenirlight'; src: url("../fonts/avenir/avenir-light.eot"); src: url("../fonts/avenir/avenir-light.eot?#iefix") format("embedded-opentype"), url("../fonts/avenir/avenir-light.woff2") format("woff2"), url("../fonts/avenir/avenir-light.woff") format("woff"), url("../fonts/avenir/avenir-light.ttf") format("truetype"), url("../fonts/avenir/avenir-light.svg#avenirlight") format("svg"); font-weight: normal; font-style: normal; }
/* -------------------------------------------------------------- 
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: inherit; font-family: "Open Sans", sans-serif; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

p { line-height: 24px; font-weight: normal; }

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { font-size: 40px; margin-bottom: 1em; }
@media screen and (max-width: 479px) { h1 { font-size: 35px; } }

h2 { font-size: 35px; margin-bottom: 1em; }
@media screen and (max-width: 479px) { h2 { font-size: 30px; } }

h3 { font-size: 30px; margin-bottom: 1em; }
@media screen and (max-width: 479px) { h3 { font-size: 21px; } }

h4 { font-size: 21px; margin-bottom: 1em; }

h5 { font-size: 16px; margin-bottom: 1em; }

h6 { font-size: 14px; margin-bottom: 1em; }

/* Entry Text
-------------------------------------------------------------- */
.home .entry h1 { font-size: 40px; }
@media screen and (max-width: 479px) { .home .entry h1 { font-size: 35px; } }
.home .entry h2 { font-size: 35px; }
@media screen and (max-width: 479px) { .home .entry h2 { font-size: 30px; } }
.home .entry h3 { font-size: 30px; }
@media screen and (max-width: 479px) { .home .entry h3 { font-size: 21px; } }
.home .entry h1, .home .entry h2, .home .entry h3 { font-family: "Open Sans", sans-serif; color: #666; position: relative; padding-bottom: 0.8em; }
.home .entry h1:before, .home .entry h1:after, .home .entry h2:before, .home .entry h2:after, .home .entry h3:before, .home .entry h3:after { content: ""; position: absolute; bottom: 0; left: 50%; }
.home .entry h1:before, .home .entry h2:before, .home .entry h3:before { width: 50px; height: 3px; background: #666; margin-left: -25px; bottom: -1px; z-index: 1; }
.home .entry h1:after, .home .entry h2:after, .home .entry h3:after { width: 50%; margin-left: -25%; height: 1px; background: #b3b3b3; }

.entry { color: #000; font-family: "Open Sans", sans-serif; font-weight: normal; font-size: 16px; }
.entry *:last-child { margin-bottom: 0; }
.entry span, .entry strong { font-size: inherit; }
.entry blockquote:before { color: #3da6cd; }
.entry img { border: 0; padding: 0; background: none; }
.entry h1, .entry h2, .entry h3, .entry h4 { color: #3da6cd; }
.entry h1, .entry h2 { text-transform: uppercase; border-bottom: 2px solid #b3b3b3; position: relative; color: #686868; padding-bottom: 20px; }
.entry h1:before, .entry h2:before { content: ""; position: absolute; bottom: -3px; left: 0; height: 5px; width: 45px; background: #666; }
.entry h1 span, .entry h2 span { color: #3da6cd; }
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 { line-height: 100%; font-weight: normal; }
.entry b, .entry strong { font-weight: normal; }
.entry ul, .entry ol { padding-left: 0; }
.entry ul li, .entry ol li { list-style: none; padding-left: 25px; position: relative; margin-bottom: 4px; }
.entry ul li:before, .entry ol li:before { content: ""; height: 15px; width: 15px; background: url('../../../images/list-ball.jpg?1453851959') no-repeat center; position: absolute; left: 0; top: 4px; }
.entry p, .entry li { color: #000; font-family: "Open Sans", sans-serif; font-weight: normal; font-size: 16px; line-height: 24px; }
@media screen and (max-width: 479px) { .entry p, .entry li { font-size: 14px; line-height: 22px; } }
.entry p { margin-bottom: 27px; }
.entry a { color: #ec8441; text-decoration: underline; }

/* Post title, Page Title
-------------------------------------------------------------- */
.page-title, .post .title, .page #main .title, .entry-title { font-size: 35px; margin-bottom: 1em; font-family: "Open Sans", sans-serif; color: #666; font-weight: normal; }
@media screen and (max-width: 479px) { .page-title, .post .title, .page #main .title, .entry-title { font-size: 30px; } }

/* Post title Link, Page Title Link
-------------------------------------------------------------- */
.post .title a:link, .post .title a:visited, .page .title a:link, .page .title a:visited { color: #3C2820; }

.business h2, .business h3, .business h4, .business h5, .business h6 { margin-top: 0; }

body.full-width #header, #nav-container, body.full-width #content, body.full-width #footer-widgets, body.full-width #footer { padding-left: 12px; padding-right: 12px; }

form p, form input, form textarea, form select, #content .gform_wrapper form p, #content .gform_wrapper form input, #content .gform_wrapper form textarea, #content .gform_wrapper form select { font-family: "Open Sans", sans-serif; }
form input, form textarea, form select, #content .gform_wrapper form input, #content .gform_wrapper form textarea, #content .gform_wrapper form select { border-color: #ccc; border-width: 1px; font-size: 14px; border-radius: 0; padding: 12px; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff)); background: -moz-linear-gradient(#f2f2f2, #ffffff); background: -webkit-linear-gradient(#f2f2f2, #ffffff); background: linear-gradient(#f2f2f2, #ffffff); }
form select, #content .gform_wrapper form select { padding: 11px; }
form input.wpcf7-submit, form input[type="submit"], #content .gform_wrapper form input.wpcf7-submit, #content .gform_wrapper form input[type="submit"] { background: #ec8441; font-size: 14px; line-height: 100%; width: auto; border: 0; font-family: "Open Sans", sans-serif; padding: 0.5em 1em; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
form input.wpcf7-submit:hover, form input[type="submit"]:hover, #content .gform_wrapper form input.wpcf7-submit:hover, #content .gform_wrapper form input[type="submit"]:hover { background: #3da6cd; }
form input[type="radio"], #content .gform_wrapper form input[type="radio"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; height: 15px; width: 15px !important; border-radius: 2px; }
form input[type="radio"]:checked, #content .gform_wrapper form input[type="radio"]:checked { background: #ccc; }

#wrapper a.button { color: #fff; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ODc0MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NiNjExNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e88742), color-stop(100%, #cb6117)); background: -moz-linear-gradient(#e88742, #cb6117); background: -webkit-linear-gradient(#e88742, #cb6117); background: linear-gradient(#e88742, #cb6117); }

select { border-color: #999; border-width: 1px; font-size: 14px; border-radius: 0; padding: 11px; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Open Sans", sans-serif; }

#footer-widgets-container label.gfield_label { display: none; }

.gform_wrapper ul.gform_fields li.gfield.gfield_error.gfield_contains_required, .gform_wrapper ul.gform_fields li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper ul.gform_fields li.gfield.gfield_error.gfield_contains_required div { margin: 0 !important; }
.gform_wrapper ul.gform_fields li.gfield.gfield_error.gfield_contains_required div.gfield_description { display: none; }
.gform_wrapper ul.gform_fields li.gfield { margin-bottom: 5px; padding-left: 0 !important; width: 100%; background: none !important; border: 0 !important; }
.gform_wrapper ul.gform_fields li.gfield:before { display: none; padding-left: 0; }
.gform_wrapper ul.gform_fields li.gfield .ginput_container { margin: 0; }

#footer-widgets .gform_wrapper .top_label input.medium, #footer-widgets .gform_wrapper .top_label select.medium { width: 100%; }

#footer-widgets .gform_wrapper textarea.medium { width: 100%; }

#wrapper .gform_wrapper .gform_footer { padding: 0; margin: 0; }

#footer-widget .gform_wrapper .gfield_description.validation_message, #footer-widget .gform_wrapper .top_label .gfield_description.validation_message { display: none; }

#footer-widgets .validation_error { display: none; }

#content .gform_wrapper { margin: 0; width: 100%; max-width: 100%; }
#content .gform_wrapper .gform_heading { display: none; }
#content .gform_wrapper .ginput_complex label, #content .gform_wrapper .gfield_time_hour label, #content .gform_wrapper .gfield_time_minute label, #content .gform_wrapper .gfield_date_month label, #content .gform_wrapper .gfield_date_day label, #content .gform_wrapper .gfield_date_year label, #content .gform_wrapper .instruction { margin-top: 0; display: block; font-family: "Open Sans", sans-serif; font-size: 14px; color: #333; }
#content .gform_wrapper .ginput_complex .ginput_full input[type=email], #content .gform_wrapper .ginput_complex .ginput_full input[type=number], #content .gform_wrapper .ginput_complex .ginput_full input[type=password], #content .gform_wrapper .ginput_complex .ginput_full input[type=tel], #content .gform_wrapper .ginput_complex .ginput_full input[type=text], #content .gform_wrapper .ginput_complex .ginput_full input[type=url] { width: 100% !important; }
#content .gform_wrapper .ginput_complex .ginput_right select, #content .gform_wrapper .ginput_complex select { width: 100% !important; }
#content .gform_wrapper .ginput_complex .ginput_right { margin-left: 3%; }
#content .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.has_last_name span.name_first, #content .gform_wrapper .ginput_complex.ginput_container.has_first_name.has_middle_name.has_last_name span.name_middle, #content .gform_wrapper .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span.name_first { margin-right: 2.1%; }

.gform_confirmation_wrapper .gform_confirmation_message { color: #333; font-size: 18px; font-family: "Open Sans", sans-serif; line-height: 24px; }

.shortcode-toggle.border { border: 0; }

.entry .shortcode-toggle h4 a { padding: 10px 15px; color: #fff; text-decoration: none !important; background-color: #ec8441; }

body.full-header.full-slider #loopedSlider { margin-top: 0; }
body.full-header.full-slider #loopedSlider .content { text-align: left; }

.ovelay-background-banner { background: rgba(61, 166, 205, 0.5); position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 1; }

#loopedSlider.business-slider, .hero-banner { margin-bottom: 0; position: relative; z-index: 1; background-image: url('../../../images/banner-image-load.jpg?1453851962'); background-repeat: no-repeat; background-position: center; background-size: cover; }
#loopedSlider.business-slider .preloader-ball, .hero-banner .preloader-ball { background-position: center; background-repeat: no-repeat; background-image: url('../../../images/bouncing-ball.gif?1454548737'); background-color: rgba(255, 255, 255, 0.5); position: absolute; top: 0; left: 0; width: 100%; display: block; z-index: 2; }
#loopedSlider.business-slider .hero-image, #loopedSlider.business-slider .preloader-ball, .hero-banner .hero-image, .hero-banner .preloader-ball { padding-bottom: 56%; height: 0; }
#loopedSlider.business-slider .slides, .hero-banner .slides { opacity: 0; }
#loopedSlider.business-slider .biz-slider-image, #loopedSlider.business-slider .hero-image, .hero-banner .biz-slider-image, .hero-banner .hero-image { position: relative; background-size: cover; background-repeat: no-repeat; background-position: center; }
#loopedSlider.business-slider .biz-slider-image video, #loopedSlider.business-slider .hero-image video, .hero-banner .biz-slider-image video, .hero-banner .hero-image video { width: 100% !important; height: auto !important; }
#loopedSlider.business-slider .wc-gallery, .hero-banner .wc-gallery { margin-top: 60px; text-align: center; }
#loopedSlider.business-slider .content, .hero-banner .content { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */ animation-delay: 2s; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; bottom: auto; top: 50px; z-index: 3; right: auto; left: 0; background: none; padding: 0 12px; width: 100%; position: absolute; }
@media screen and (max-width: 1023px) { #loopedSlider.business-slider .content, .hero-banner .content { background: #3da6cd; top: 0; padding: 12px; position: relative; } }
#loopedSlider.business-slider .content h1, .hero-banner .content h1 { color: white !important; font-weight: bold; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); text-transform: uppercase; margin-top: 100px; }
@media screen and (max-width: 1023px) { #loopedSlider.business-slider .content h1, .hero-banner .content h1 { margin-top: 0; font-size: 25px; } }
@media screen and (max-width: 479px) { #loopedSlider.business-slider .content h1, .hero-banner .content h1 { font-size: 20px; } }
#loopedSlider.business-slider .content h2, .hero-banner .content h2 { text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); font-size: 35px; color: #ec8441; margin-bottom: 10px; }
@media screen and (max-width: 1023px) { #loopedSlider.business-slider .content h2, .hero-banner .content h2 { margin-top: 0; font-size: 22px; } }
@media screen and (max-width: 479px) { #loopedSlider.business-slider .content h2, .hero-banner .content h2 { font-size: 18px; } }
#loopedSlider.business-slider .content .col-full, .hero-banner .content .col-full { padding-right: 0 !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media screen and (max-width: 767px) { #loopedSlider.business-slider .content .col-full, .hero-banner .content .col-full { padding-right: 0; } }
#loopedSlider.business-slider .content .title, .hero-banner .content .title { padding: 0; }
#loopedSlider.business-slider .content h2.title, .hero-banner .content h2.title { font-size: 30px; font-family: "Open Sans", sans-serif; color: #fff; font-weight: bold; margin-bottom: 1em; padding: 0px; text-transform: uppercase; }
@media screen and (max-width: 639px) { #loopedSlider.business-slider .content h2.title, .hero-banner .content h2.title { font-size: 16px; } }
#loopedSlider.business-slider .content p, .hero-banner .content p { margin-bottom: 1.5em; }
#loopedSlider.business-slider .content p, #loopedSlider.business-slider .content li, .hero-banner .content p, .hero-banner .content li { font-size: 22px; font-family: "Open Sans", sans-serif; color: #fff; line-height: 32px; padding: 5px 10px 5px 10px; }
@media screen and (max-width: 639px) { #loopedSlider.business-slider .content p, #loopedSlider.business-slider .content li, .hero-banner .content p, .hero-banner .content li { font-size: 16px; line-height: 20px; } }
#loopedSlider.business-slider .content ul, #loopedSlider.business-slider .content ol, .hero-banner .content ul, .hero-banner .content ol { margin-bottom: 30px; max-width: 400px; }
#loopedSlider.business-slider .content ul li, #loopedSlider.business-slider .content ol li, .hero-banner .content ul li, .hero-banner .content ol li { position: relative; padding: 5px 5px 5px 50px; margin-bottom: 3px; }
@media screen and (max-width: 639px) { #loopedSlider.business-slider .content ul li, #loopedSlider.business-slider .content ol li, .hero-banner .content ul li, .hero-banner .content ol li { padding-left: 40px; } }
#loopedSlider.business-slider .content ul li:before, #loopedSlider.business-slider .content ol li:before, .hero-banner .content ul li:before, .hero-banner .content ol li:before { position: absolute; content: ""; left: 10px; top: 5px; width: 35px; height: 32px; background: url('../../../images/check.png?1453851961') no-repeat center; }
@media screen and (max-width: 639px) { #loopedSlider.business-slider .content ul li:before, #loopedSlider.business-slider .content ol li:before, .hero-banner .content ul li:before, .hero-banner .content ol li:before { width: 22px; height: 22px; background-size: contain; } }
#loopedSlider.business-slider .content a.btn, .hero-banner .content a.btn { font-family: "Open Sans", sans-serif; background: #ec8441; font-size: 30px !important; color: #fff; display: inline-block; padding: 14px 16px; line-height: 100%; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
#loopedSlider.business-slider .content a.btn:hover, .hero-banner .content a.btn:hover { text-decoration: none; background: #3da6cd; }
@media screen and (max-width: 479px) { #loopedSlider.business-slider .content a.btn, .hero-banner .content a.btn { font-size: 17px !important; } }
#loopedSlider.business-slider .content img, .hero-banner .content img { height: auto !important; }
@media screen and (max-width: 767px) { #loopedSlider.business-slider a.flex-next, #loopedSlider.business-slider a.flex-prev, .hero-banner a.flex-next, .hero-banner a.flex-prev { display: none; } }
#loopedSlider.business-slider a.flex-next span, #loopedSlider.business-slider a.flex-prev span, .hero-banner a.flex-next span, .hero-banner a.flex-prev span { color: #ec8441; border-color: #ec8441; }

.downarrow { text-align: center; color: white; }
.downarrow a.scrolllink { color: #fff; font-size: 30px; text-decoration: none !important; line-height: 100%; font-family: "Open Sans", sans-serif; font-style: italic; }
.downarrow a.scrolllink i { display: block; }

.downarrow i { display: block; line-height: 100%; color: white; font-size: 70px; }

.post-meta { display: none; }

.homesearchbtn { color: #999 !important; height: 58px; background: #fff !important; box-sizing: border-box; border-radius: 0 5px 5px 0; border-left: 1px solid #e0e0e0; }

#banner-search { background: #fff; max-width: 640px; margin: 0 auto; border-radius: 5px; position: relative; overflow: hidden; }
#banner-search input[type="text"] { color: #999; font-family: "Open Sans", sans-serif; font-size: 30px !important; line-height: 100%; padding: 10px 16px; border: none !important; }
#banner-search input::-webkit-input-placeholder { /* WebKit browsers */ line-height: 1em; }
#banner-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ line-height: 1em; }
#banner-search input::-moz-placeholder { /* Mozilla Firefox 19+ */ line-height: 1em; }
#banner-search input:-ms-input-placeholder { /* Internet Explorer 10+ */ line-height: 1em; }
#banner-search button { position: absolute; top: 0; right: 0; color: #999; border: 0; border-left: 1px solid #e0e0e0; background: transparent; padding: 10px 16px; font-size: 30px; padding: 15px 30px; z-index: 1; }

.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

@-webkit-keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }
.fadeIn { -webkit-animation-name: fadeIn; animation-name: fadeIn; }

/* =====================
	Header Style 
======================== */
body.show-nav #header-container, body.show-nav #header { position: initial; }

#header-container { -moz-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.35); -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.35); box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.35); position: relative; z-index: 2; }

.top-header { position: relative; z-index: 4; padding: 0 12px; }
.top-header p.fa { padding-left: 40px; }
.top-header p.fa:before { position: absolute; left: 0; top: 50%; margin-top: -14px; font-family: 'fontawesome'; color: #ec8441; border: 2px solid #ec8441; line-height: 100%; line-height: 23px; width: 23px; text-align: center; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.top-header .twocol-one { margin-bottom: 0; }
@media screen and (max-width: 767px) { .top-header .left-content { line-height: 0; } }
.top-header .right-content { text-align: right; line-height: 100%; }
.top-header ul.meta-links { display: block; text-align: right; }
.top-header ul.meta-links li { display: inline-block; text-align: center; border-left: 1px solid #fff; }
.top-header ul.meta-links li a { line-height: 50px; padding: 0 14px; font-size: 16px; display: block; color: #000; text-align: center; }
.top-header ul.meta-links li a:hover { text-decoration: none; }
.top-header ul.meta-links li.active-btn a { background: #ec8441; color: #fff; }
.top-header ul.meta-links li.search { margin-right: -12px; }
.top-header ul.meta-links li.search img { margin-bottom: -64px; }
@media screen and (max-width: 1023px) { .top-header ul.meta-links li.search img { margin-bottom: 0; margin-top: 0px; width: 51px; -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -webkit-transform: translateY(-100%); transform: translateY(-100%); } }

#header { padding-top: 0px; padding-bottom: 0px; }

/* Nav Toggle Style
======================== */
.nav-toggle { background: #3da6cd; }

/* Header Logo
======================== */
#logo { margin-top: -22px; }
@media screen and (max-width: 1023px) { #logo { text-align: center; margin-bottom: 10px; margin-top: 0; } }

/* =====================
	Header Widget Right 
======================== */
/* =====================
	Navigation Style 
======================== */
#nav-container { float: right; background: none; padding: 0; border: 0 !important; margin-bottom: 0; margin-right: 89px; margin-top: 10px; }
#nav-container #navigation ul#main-nav > li:first-child { border: 0; }

#navigation { background: none; }
#navigation #mega-menu-wrap-primary-menu .mega-menu-toggle + #mega-menu-primary-menu { display: block; }
#navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu { background: #f4f4f4; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2) !important; }
#navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link { color: #2b2b2b; font-size: 15px; line-height: 1.2em; padding: 3px !important; display: block; font-family: "Open Sans", sans-serif; font-weight: normal; }
@media screen and (max-width: 1023px) { #navigation #navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu { display: none; } }
@media screen and (max-width: 1023px) { #navigation #wrapper #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li a:before, #navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li > a.mega-menu-link:before, #navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item a:before, #navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link:before { display: none !important; } }
@media screen and (max-width: 1023px) { #navigation #mega-menu-wrap-primary-menu .mega-menu-toggle + #mega-menu-primary-menu li.mega-menu-item.mega-menu-megamenu.mega-toggle-on > ul.mega-sub-menu, #navigation #navigation #mega-menu-wrap-primary-menu .mega-menu-toggle + #mega-menu-primary-menu li.mega-menu-item > ul.mega-sub-menu { display: none; } }
@media screen and (max-width: 1023px) { #navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item { width: 100% !important; float: none !important; } }
#navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu { background: #f4f4f4; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2) !important; }
#navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-item a.mega-menu-link { color: #2b2b2b; font-size: 15px; line-height: 1.2em; padding: 3px !important; display: block; font-family: "Open Sans", sans-serif; font-weight: normal; }
#navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item { border-right: 1px solid #fff; padding: 0px !important; }
#navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link { border-bottom: 1px solid #ccc; color: #2b2b2b !important; padding: 10px  !important; display: block  !important; }
#navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu { padding: 10px; }
#navigation .mega-menu-toggle { display: none; }
#navigation h3 { display: none; }
#navigation ul.nav { float: none; margin: 10px 0 0; }
#navigation ul.nav ul.sub-menu { padding: 0; background: #fff; -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.35); -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.35); box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.35); }
@media screen and (max-width: 1023px) { #navigation ul.nav ul.sub-menu { margin: 0; padding: 0; display: none; } }
#navigation ul.nav ul.sub-menu li { border-bottom: 1px solid #e1e1e1; border-top: 1px solid #fff; background: #f7f7f7; }
#navigation ul.nav ul.sub-menu a:hover { text-decoration: none; background: #3da6cd !important; color: #fff !important; }
#navigation ul.nav > li:hover, #navigation ul.nav > li a:hover { background: none; }

#mega-menu-wrap-primary-menu #mega-menu-primary-menu li.mega-menu-item.mega-current-menu-item > a.mega-menu-link { color: #ec8441 !important; }

ul.nav ul.mega-sub-menu, #mega-menu-wrap-primary-menu #mega-menu-primary-menu ul.mega-sub-menu { top: 100%; }
ul.nav ul.mega-sub-menu li.mega-menu-item, #mega-menu-wrap-primary-menu #mega-menu-primary-menu ul.mega-sub-menu li.mega-menu-item { margin-left: 0; }
ul.nav ul.mega-sub-menu li.mega-menu-item > a.mega-menu-link, #mega-menu-wrap-primary-menu #mega-menu-primary-menu ul.mega-sub-menu li.mega-menu-item > a.mega-menu-link { padding: 0 !important; line-height: 1.5em; }
ul.nav > li, ul.nav > li.mega-menu-item, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item { margin-left: 16px; padding-bottom: 20px; }
@media screen and (max-width: 1023px) { ul.nav > li, ul.nav > li.mega-menu-item, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item { margin-left: 0; padding-bottom: 0; border-bottom: 1px solid #e1e1e1; border-top: 1px solid #fff; float: none; display: block; } }
ul.nav > li:last-child, ul.nav > li.mega-menu-item:last-child, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li:last-child, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item:last-child { margin-right: 0; }
ul.nav > li:first-child, ul.nav > li.mega-menu-item:first-child, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li:first-child, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item:first-child { margin-left: 0; }
ul.nav > li.has-child, ul.nav > li.mega-menu-item.has-child, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.has-child, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.has-child { position: relative; }
ul.nav > li .dropdown-btn, ul.nav > li.mega-menu-item .dropdown-btn, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li .dropdown-btn, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item .dropdown-btn { color: #fff; background: #ec8441; display: block; padding: 0.6em 1.2em; position: absolute; top: 0; right: 0; }
ul.nav > li .dropdown-btn i, ul.nav > li.mega-menu-item .dropdown-btn i, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li .dropdown-btn i, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item .dropdown-btn i { font-size: 28px; }
ul.nav > li a, ul.nav > li > a.mega-menu-link, ul.nav > li.mega-menu-item a, ul.nav > li.mega-menu-item > a.mega-menu-link, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li > a.mega-menu-link, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link { color: #0a0a0a; padding: .7em 0.2em !important; font-family: "Open Sans", sans-serif; font-size: 15px; height: auto; line-height: 100%; }
@media screen and (max-width: 1023px) { ul.nav > li a, ul.nav > li > a.mega-menu-link, ul.nav > li.mega-menu-item a, ul.nav > li.mega-menu-item > a.mega-menu-link, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li > a.mega-menu-link, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link { padding: 1em 1em !important; } }
ul.nav > li a:hover, ul.nav > li > a.mega-menu-link:hover, ul.nav > li.mega-menu-item a:hover, ul.nav > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li a:hover, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li > a.mega-menu-link:hover, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item a:hover, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link:hover { color: #ec8441; -moz-transition: 0.4s; -o-transition: 0.4s; -webkit-transition: 0.4s; transition: 0.4s; }
ul.nav > li a:after, ul.nav > li > a.mega-menu-link:after, ul.nav > li.mega-menu-item a:after, ul.nav > li.mega-menu-item > a.mega-menu-link:after, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li a:after, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li > a.mega-menu-link:after, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item a:after, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link:after { display: none !important; }
ul.nav > li.current_page_item a, ul.nav > li.current_page_parent a, ul.nav > li.current-menu-ancestor a, ul.nav > li.current-cat a, ul.nav > li.current-menu-item a, ul.nav > li.mega-current_page_item a, ul.nav > li.mega-current-menu-item a, ul.nav > li.mega-menu-item.current_page_item a, ul.nav > li.mega-menu-item.current_page_parent a, ul.nav > li.mega-menu-item.current-menu-ancestor a, ul.nav > li.mega-menu-item.current-cat a, ul.nav > li.mega-menu-item.current-menu-item a, ul.nav > li.mega-menu-item.mega-current_page_item a, ul.nav > li.mega-menu-item.mega-current-menu-item a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.current_page_item a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.current_page_parent a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.current-menu-ancestor a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.current-cat a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.current-menu-item a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-current_page_item a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-current-menu-item a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.current_page_item a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.current_page_parent a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.current-menu-ancestor a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.current-cat a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.current-menu-item a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.mega-current_page_item a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.mega-current-menu-item a { color: #ec8441; background: none; }
ul.nav > li.current_page_item > a, ul.nav > li.current_page_parent > a, ul.nav > li.current-menu-ancestor > a, ul.nav > li.current-cat > a, ul.nav > li.current-menu-item > a, ul.nav > li.mega-current_page_item > a, ul.nav > li.mega-current-menu-item > a, ul.nav > li.mega-menu-item.current_page_item > a, ul.nav > li.mega-menu-item.current_page_parent > a, ul.nav > li.mega-menu-item.current-menu-ancestor > a, ul.nav > li.mega-menu-item.current-cat > a, ul.nav > li.mega-menu-item.current-menu-item > a, ul.nav > li.mega-menu-item.mega-current_page_item > a, ul.nav > li.mega-menu-item.mega-current-menu-item > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.current_page_item > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.current_page_parent > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.current-menu-ancestor > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.current-cat > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.current-menu-item > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-current_page_item > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-current-menu-item > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.current_page_item > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.current_page_parent > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.current-menu-ancestor > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.current-cat > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.current-menu-item > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.mega-current_page_item > a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item.mega-current-menu-item > a { position: relative; display: block; -moz-box-shadow: inset 0px -2px 0px 0px #ec8441; -webkit-box-shadow: inset 0px -2px 0px 0px #ec8441; box-shadow: inset 0px -2px 0px 0px #ec8441; }

.home .breadcrumb { display: none; }

/* =====================
	Main Section Style 
======================== */
.home #content { padding: 0; }

.inner-page-banner { padding: 0 12px; height: 636px; background-size: cover; background-repeat: no-repeat; background-position: left center; margin-bottom: 2em; overflow: hidden; position: relative; -moz-box-shadow: inset 0px -134px 73px -77px white; -webkit-box-shadow: inset 0px -134px 73px -77px white; box-shadow: inset 0px -134px 73px -77px white; margin-bottom: -33em; }
.inner-page-banner:before { content: ""; position: absolute; top: 86px; left: 0; bottom: 0; width: 100%; background: #fff; }
.inner-page-banner h2.custom-page-title { margin-bottom: 0; font-family: "Open Sans", sans-serif; font-weight: normal; color: #fff; text-transform: uppercase; font-size: 30px; margin-top: 25px; }
@media screen and (max-width: 479px) { .inner-page-banner h2.custom-page-title { margin-top: 10px; } }
.inner-page-banner #sidebar { line-height: 0; margin-top: 0; }

.featured-articles { padding: 90px 12px 10px; background-color: #fff; margin-bottom: 0; }
@media screen and (max-width: 639px) { .featured-articles { padding: 60px 12px 40px; } }
.featured-articles img { height: auto !important; }
.featured-articles img.alignnone { display: inline-block; vertical-align: middle; }
.featured-articles p, .featured-articles li { color: #191919; font-family: "Open Sans", sans-serif; font-size: 20px; margin-bottom: 1em; line-height: 1.2em; }
.featured-articles a { color: #ec8441; font-family: "Open Sans", sans-serif; text-decoration: none; font-size: 20px; }
.featured-articles a:hover { text-decoration: none; }
.featured-articles h1, .featured-articles h2, .featured-articles h3, .featured-articles h4, .featured-articles h5, .featured-articles h6 { color: #333; border: 0; padding: 0; margin-bottom: 0.5em; font-family: "Open Sans", sans-serif; font-weight: normal; }
.featured-articles h1 { font-size: 40px; }
.featured-articles h2 { font-size: 35px; }
.featured-articles h3 { font-size: 30px; }
.featured-articles h4 { font-size: 25px; }
.featured-articles ul li, .featured-articles ol li { list-style: none; padding-left: 40px; position: relative; }
.featured-articles ul li:before, .featured-articles ol li:before { position: absolute; left: 0; top: 0; content: ""; width: 25px; height: 35px; background-image: url('../../../images/icon-list.png?1453851960'); background-repeat: no-repeat; }
.featured-articles ul li.lock:before, .featured-articles ol li.lock:before { background-position: 0 0; }
.featured-articles ul li.locked:before, .featured-articles ol li.locked:before { background-position: -2px -62px; }
.featured-articles ul li.dollar:before, .featured-articles ol li.dollar:before { background-position: -2px -123px; }
.featured-articles .widget p { font-size: 18px; }
.featured-articles .widget a { color: #ec8441; }

.featured-articles2 { padding: 0 12px; background-size: cover; background-repeat: no-repeat; position: relative; overflow: hidden; background-position: center; margin-bottom: 0; }
.featured-articles2 .col-full { position: relative; padding: 112px 0px 30px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media screen and (max-width: 639px) { .featured-articles2 .col-full { padding: 30px 0px 30px; } }
.featured-articles2 .phone { position: absolute; bottom: 0; left: -310px; width: 521px; height: 451px; background-image: url('../../../images/phone.png?1453851959'); background-repeat: no-repeat; background-position: 0 0; display: block; text-indent: -9999px; }
@media screen and (max-width: 639px) { .featured-articles2 .phone { display: none; } }
@media screen and (max-width: 639px) { .featured-articles2 { background-position: center right; padding: 40px 12px 40px; } }
@media screen and (max-width: 639px) { .featured-articles2 br { display: none; } }
.featured-articles2 img { height: auto !important; }
.featured-articles2 p, .featured-articles2 li { color: #fff; font-family: "Open Sans", sans-serif; font-size: 20px; margin-bottom: 1em; line-height: 1.2em; padding-left: 220px; }
@media screen and (max-width: 639px) { .featured-articles2 p, .featured-articles2 li { padding: 10px; } }
.featured-articles2 li { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.05))); background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)); background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)); background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)); margin-bottom: 3px; padding: 10px 0 10px 220px; }
@media screen and (max-width: 639px) { .featured-articles2 li { padding: 10px; } }
.featured-articles2 a { font-family: "Open Sans", sans-serif; text-decoration: none; font-size: 17px; }
.featured-articles2 a.btn { display: inline-block; line-height: 100%; padding: 14px 10px; background: #ec8441; color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.featured-articles2 a:hover { text-decoration: none; background: #3da6cd; }
.featured-articles2 h1, .featured-articles2 h2, .featured-articles2 h3, .featured-articles2 h4, .featured-articles2 h5, .featured-articles2 h6 { color: #fff; border: 0; padding: 7px 0; padding-left: 220px; margin-bottom: 0.5em; font-family: "Open Sans", sans-serif; font-weight: normal; background: #3da6cd; margin-bottom: 4px; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkYTZjZCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZGE2Y2QiIHN0b3Atb3BhY2l0eT0iMC4wNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(61, 166, 205, 0.5)), color-stop(100%, rgba(61, 166, 205, 0.05))); background: -moz-linear-gradient(left, rgba(61, 166, 205, 0.5), rgba(61, 166, 205, 0.05)); background: -webkit-linear-gradient(left, rgba(61, 166, 205, 0.5), rgba(61, 166, 205, 0.05)); background: linear-gradient(to right, rgba(61, 166, 205, 0.5), rgba(61, 166, 205, 0.05)); }
@media screen and (max-width: 639px) { .featured-articles2 h1, .featured-articles2 h2, .featured-articles2 h3, .featured-articles2 h4, .featured-articles2 h5, .featured-articles2 h6 { padding-left: 20px; } }
.featured-articles2 h1 strong, .featured-articles2 h1 b, .featured-articles2 h2 strong, .featured-articles2 h2 b, .featured-articles2 h3 strong, .featured-articles2 h3 b, .featured-articles2 h4 strong, .featured-articles2 h4 b, .featured-articles2 h5 strong, .featured-articles2 h5 b, .featured-articles2 h6 strong, .featured-articles2 h6 b { font-family: "Open Sans", sans-serif; font-weight: normal; font-size: inherit; }
.featured-articles2 h1 { font-size: 35px; }
.featured-articles2 h2 { font-size: 31px; }
.featured-articles2 h3 { font-size: 27px; }
.featured-articles2 h4 { font-size: 24px; }
.featured-articles2 ul, .featured-articles2 ol { max-width: 600px; margin-bottom: 25px; }
.featured-articles2 ul li, .featured-articles2 ol li { list-style: none; position: relative; }

.featured-section { padding: 40px 12px 0; background: #f0f0f0; }

.featured-advetise-slide { padding: 10px 12px; background: #fff; position: relative; z-index: 2; }
.featured-advetise-slide .widget { margin-bottom: 0; }

.fb-comments.fb_iframe_widget { width: 100%; }
.fb-comments.fb_iframe_widget span, .fb-comments.fb_iframe_widget .fb_ltr { width: 100% !important; }

.featured-video { padding: 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; }
.featured-video > h2 { color: #666; font-size: 30px; font-weight: normal; font-family: "Open Sans", sans-serif; }
@media screen and (max-width: 479px) { .featured-video > h2 { font-size: 21px; } }

.facebook-comment { padding: 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; }
.facebook-comment .featured-section-title { color: #666; font-size: 30px; font-weight: normal; font-family: "Open Sans", sans-serif; }
@media screen and (max-width: 479px) { .facebook-comment .featured-section-title { font-size: 21px; } }

.featured-video-list { max-height: 600px; overflow-y: scroll; }
.featured-video-list div { margin-bottom: 0; }
.featured-video-list .video-item { background: #3da6cd; padding: 20px; margin-bottom: 7px; border-radius: 4px; }
.featured-video-list .video-item h4 { font-size: 16px; font-family: "Open Sans", sans-serif; font-weight: normal; color: #fff; text-transform: uppercase; }
.featured-video-list .video-item h4 a { color: #fff; font-size: 16px; font-family: "Open Sans", sans-serif; }
.featured-video-list .video-item p { color: #000; font-size: 14px; line-height: 20px; font-family: "Open Sans", sans-serif; }
.featured-video-list .video-item a.buy-on-dvd { font-family: "Open Sans", sans-serif; color: #fff; font-size: 14px; width: 48px; text-align: center; background: #ec8441; display: inline-block; clear: both; margin-top: 10px; padding: 8px; line-height: 1.2em; -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); -moz-box-shadow: inset 0px 0px 50px -15px rgba(0, 0, 0, 0.75); -webkit-box-shadow: inset 0px 0px 50px -15px rgba(0, 0, 0, 0.75); box-shadow: inset 0px 0px 50px -15px rgba(0, 0, 0, 0.75); -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }
.featured-video-list .video-item a.buy-on-dvd:hover { text-decoration: none; -moz-box-shadow: inset 0px 0px 30px -15px rgba(0, 0, 0, 0.75); -webkit-box-shadow: inset 0px 0px 30px -15px rgba(0, 0, 0, 0.75); box-shadow: inset 0px 0px 30px -15px rgba(0, 0, 0, 0.75); -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }
.featured-video-list .video-item .right-section { text-align: right; }

::-webkit-scrollbar { width: 8px; }

/* Track */
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); -webkit-border-radius: 10px; border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 8px; background: #666; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive { background: #666; }

.testimonial-section { padding: 20px 12px 0; background: #f6f5f5; }
.testimonial-section .threecol-one, .testimonial-section .threecol-two { margin-bottom: 0; }
.testimonial-section blockquote { font-size: 40px; margin-left: 60px; margin-top: 60px; position: relative; font-family: "Open Sans", sans-serif; line-height: 1.3em; color: #3da6cd; margin-bottom: 40px; }
@media screen and (max-width: 479px) { .testimonial-section blockquote { font-size: 20px; } }
.testimonial-section blockquote:before { content: ""; position: absolute; left: -65px; top: 0; display: block; width: 36px; height: 32px; background: url('../../../images/quote.png?1453851958') no-repeat center center; }
.testimonial-section blockquote p { font-size: 40px; color: #3da6cd; font-family: "Open Sans", sans-serif; line-height: 1.3em; }
@media screen and (max-width: 479px) { .testimonial-section blockquote p { font-size: 20px; } }
.testimonial-section blockquote cite { display: block; text-align: right; font-family: "Open Sans", sans-serif; font-size: 30px; text-decoration: none; font-style: none; }
@media screen and (max-width: 479px) { .testimonial-section blockquote cite { font-size: 17px; } }
.testimonial-section a { font-family: "Open Sans", sans-serif; text-decoration: none; font-size: 17px; }
.testimonial-section a.btn { display: inline-block; line-height: 100%; padding: 14px 10px; background: #ec8441; color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.testimonial-section a:hover { text-decoration: none; background: #3da6cd; }

.filtlinks a { color: #676767; font-size: 14px; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff)); background: -moz-linear-gradient(#f2f2f2, #ffffff); background: -webkit-linear-gradient(#f2f2f2, #ffffff); background: linear-gradient(#f2f2f2, #ffffff); display: inline-block; padding: 10px; border: 1px solid #ccc; margin-right: 10px; text-decoration: none !important; text-transform: capitalize; }

.viewselect + hr { display: none; }

.viewselect { border-bottom: 2px solid #b3b3b3; position: relative; padding-bottom: 20px; margin-bottom: 15px; }
@media screen and (max-width: 530px) { .viewselector { display: none; } }
.viewselect:before { content: ""; position: absolute; bottom: -3px; left: 0; height: 5px; width: 45px; background: #666; }

.lighbox-overlay { position: fixed; background: rgba(0, 0, 0, 0.4); height: 100%; width: 100%; top: 0; bottom: 0; right: 0; left: 0; display: none; z-index: 2; }
.lighbox-overlay.visible { display: block; }

/* =====================
	Sidebar Style 
======================== */
.search_main .searchform { margin: 0; width: 100%; border: 0; }
.search_main .searchform input.s { font-size: 16px; font-family: "Open Sans", sans-serif; background: #f4f4f4; width: 100%; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; padding: 16px 12px; border: 1px solid #d5d5d5; }
.search_main .searchform button.submit { position: relative; background: #3da6cd; left: 0; right: auto; display: block; top: 0; margin-top: 10px; width: 100%; font-size: 18px; border: 0; padding: 8px 0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-family: "Open Sans", sans-serif; }

.gridvid article, .page-template-template-video-php .gridvid article { margin-bottom: 2%; }

#content .postthumb { margin-bottom: 10px; }
#content .looptitle, #content .looptitle a { font-size: 16px; line-height: 1.2em; font-family: "Open Sans", sans-serif; margin-bottom: 5px; }
#content .gridvid .vidmeta, #content .archive .gridvid .vidmeta, #content .gridvid .buynow, #content .looptitle { text-align: left; padding: 0 10px; }
#content .gridvid .vidmeta, #content .archive .gridvid .vidmeta { font-size: 14px; }

#sidebar ul li, #sidebar ol li { list-style: none; padding: 0; position: relative; }
#sidebar ul li .dropdown-btn-sidebar, #sidebar ol li .dropdown-btn-sidebar { position: absolute; right: 0; top: 0; padding: 5px 10px 12px; cursor: pointer; }
#sidebar ul li .dropdown-btn-sidebar:hover, #sidebar ol li .dropdown-btn-sidebar:hover { background: #f1f1f1; }
#sidebar ul li a, #sidebar ol li a { color: #515b74; font-size: 18px; font-family: "Open Sans", sans-serif; text-transform: uppercase; display: inline-block; padding: 10px 0; }
#sidebar ul li a:hover, #sidebar ol li a:hover { text-decoration: none; }
#sidebar ul li ul, #sidebar ol li ul { display: none; background: #f4f4f4; padding-left: 0; }
#sidebar ul li ul li, #sidebar ol li ul li { position: relative; padding-left: 40px; border: 0; }
#sidebar ul li ul li:hover, #sidebar ol li ul li:hover { background: #fff; }
#sidebar ul li ul li:before, #sidebar ol li ul li:before { content: "\f101"; font-family: 'fontawesome'; position: absolute; left: 20px; top: 50%; margin-top: -8px; }
#sidebar ul li ul li a, #sidebar ol li ul li a { font-family: "Open Sans", sans-serif; font-size: 16px; }
#sidebar a { color: #3da6cd; }
#sidebar .widget > h3 { font-family: "Open Sans", sans-serif; color: #666; font-size: 28px; font-weight: normal; padding-bottom: 20px; text-transform: uppercase; border-bottom: 2px solid #b3b3b3; position: relative; }
#sidebar .widget > h3:before { content: ""; position: absolute; bottom: -3px; left: 0; height: 5px; width: 45px; background: #666; }
#sidebar .widget > h3 span { color: #3da6cd; }
#sidebar .widget:last-child { margin-bottom: 0; }

.widget p { font-family: "Open Sans", sans-serif; font-weight: normal; font-size: 16px; line-height: 24px; }

#search-filter-form-391 ul > li { margin: 0 0 20px; }

#search-filter-form-391 ul li ul { border: 1px solid #ccc; border-top: 0; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff)); background: -moz-linear-gradient(#f2f2f2, #ffffff); background: -webkit-linear-gradient(#f2f2f2, #ffffff); background: linear-gradient(#f2f2f2, #ffffff); }
#search-filter-form-391 ul li ul li { padding: 10px !important; margin-bottom: 0; }
#search-filter-form-391 ul li ul li:before { display: none; }

.searchandfilter h4 { padding: 10px; border: 1px solid #ccc; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff)); background: -moz-linear-gradient(#f2f2f2, #ffffff); background: -webkit-linear-gradient(#f2f2f2, #ffffff); background: linear-gradient(#f2f2f2, #ffffff); }

.searchandfilter label { font-size: 14px; }

/* Footer Style
==================*/
#footer-widgets-container { background: #333; }
#footer-widgets-container * { color: #fff; }
#footer-widgets-container input, #footer-widgets-container textarea, #footer-widgets-container select { color: #000; }

#footer-widgets { border: 0; }
#footer-widgets form input[type="email"], #footer-widgets form input[type="password"], #footer-widgets form input[type="text"], #footer-widgets form textarea, #footer-widgets form select { background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZDNkNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d5d3d4), color-stop(100%, #ffffff)); background: -moz-linear-gradient(#d5d3d4, #ffffff); background: -webkit-linear-gradient(#d5d3d4, #ffffff); background: linear-gradient(#d5d3d4, #ffffff); border: 1px solid #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; font-family: "Open Sans", sans-serif; color: #333; font-size: 13px; padding: 5px; max-width: 230px; }
#footer-widgets form input[type="submit"] { background: #ec8441; font-family: "Open Sans", sans-serif; color: #fff; border: 1px solid #cccbcb; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; font-size: 13px; padding: 4px 12px; margin-top: 10px; }
#footer-widgets .block { position: relative; }
@media screen and (max-width: 767px) { #footer-widgets .block { padding: 0 !important; } }
#footer-widgets .block:after { content: ""; position: absolute; top: 50%; margin-top: -75px; right: -25px; width: 10px; height: 150px; background: url('../../../images/footer-shadow.png?1453851960') no-repeat center left; }
#footer-widgets .footer-widget-2, #footer-widgets .footer-widget-3 { padding-left: 10px; padding-right: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#footer-widgets .footer-widget-1 { padding-right: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#footer-widgets .footer-widget-4 { padding-left: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#footer-widgets .footer-widget-4:after { display: none; }
#footer-widgets .widget { font-size: 14px; line-height: 24px; }
#footer-widgets .widget > h3 { font-family: "Open Sans", sans-serif; font-size: 18px; font-weight: normal; border-bottom: 1px dashed #fff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
#footer-widgets .widget p, #footer-widgets .widget div, #footer-widgets .widget li, #footer-widgets .widget a { font-size: 14px; }
#footer-widgets .widget li { list-style: none; padding-left: 20px; position: relative; }
#footer-widgets .widget li:before { content: "\f105"; font-family: 'fontawesome'; position: absolute; left: 0; top: 0px; }

#footer-container { background: #3da6cd; }

#footer { border: 0; padding: 10px; padding-bottom: 10px; }
#footer .col-right { display: none; }
#footer .col-left { width: 100%; float: none; text-align: center; margin-bottom: 0; }
#footer p, #footer a { color: #fff; }

@media screen and (max-width: 1023px) { .widget_nav_menu ul.menu { display: none; } }
.widget_nav_menu select { display: none; color: #333; }
.widget_nav_menu select option { color: #333 !important; }
@media screen and (max-width: 1023px) { .widget_nav_menu select { display: block; } }

.tenr-social-links { margin-bottom: 10px; }
.tenr-social-links a { display: inline-block; vertical-align: middle; font-size: 28px; margin-right: 20px; color: #fff; }
.tenr-social-links a:hover i { color: #3da6cd !important; }
.tenr-social-links a i { font-size: 28px; }

p.fa { padding-left: 20px; position: relative; display: block; }
p.fa:before { position: absolute; top: 3px; left: 0; color: #fff; font-family: 'fontawesome'; font-size: 15px; }
