/* Footer Style
==================*/

#footer-widgets-container {
	background: #333;

	* {
		color: #fff;
	}
	input, textarea, select {
		color: #000;
	}
}
#footer-widgets {
	border: 0;

	form {
		input[type="email"], input[type="password"], input[type="text"], textarea, select,  {
			@include background(linear-gradient(#d5d3d4, #fff));
			border: 1px solid #fff;
			@include border-radius(3px);
			font-family: $lato-ita;
			color: #333;
			font-size: 13px;
			padding: 5px;
			max-width: 230px;
		}

		input[type="submit"] {
			background: $orange;
			font-family: $century-gothic;
			color: #fff;
			border: 1px solid #cccbcb;
			@include border-radius(3px);
			font-size: 13px;
			padding: 4px 12px;
			margin-top: 10px;
		}
	}
	.block {
		position: relative;
		@include tablet-portrait {
			padding: 0 !important;
		}
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			margin-top: -75px;
			right: -25px;
			width: 10px;
			height: 150px;
			background: image-url('footer-shadow.png') no-repeat center left;
		}
	}
	.footer-widget-2, .footer-widget-3 {
		padding-left: 10px;
		padding-right: 10px;
		@include box-sizing(border-box);
	}
	.footer-widget-1 {
		padding-right: 20px;
		@include box-sizing(border-box);
	}
	.footer-widget-4 {
		padding-left: 20px;
		@include box-sizing(border-box);

		&:after {
			display: none; 
		}
	}
	.widget {
		font-size: $base-font-size - 2;
		line-height: $line-height;
		
		> h3 {
			font-family: $century-gothic;
			font-size: 18px;
			font-weight: normal;
			border-bottom: 1px dashed #fff;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
		}

		p, div, li, a {
			font-size: $base-font-size - 2;
		}

		li {
			list-style: none;
			padding-left: 20px;
			position: relative;

			&:before {
				content: "\f105";
				font-family: 'fontawesome';
				position: absolute;
				left: 0;
				top: 0px;
			}
		}
	}
}
#footer-container {
	background: $blue;
}

#footer {
	border: 0;
	padding: 10px;
	padding-bottom: 10px;
	.col-right {
		display: none;
	}
	.col-left {
		width: 100%;
		float: none;
		text-align: center;
		margin-bottom: 0;
	}

	p, a {
		color: #fff;
	}
}

.widget_nav_menu {
	ul.menu {
		@include tablet-landscape {
			display: none;
		}
	}

	select {
		display: none;
		color: #333;
		option {
			color: #333 !important;
		}
		@include tablet-landscape {
			display: block;
		}

	}
}
.tenr-social-links {
	margin-bottom: 10px;
	a {
		display: inline-block;
		vertical-align: middle;
		font-size: 28px;
		margin-right: 20px;
		color: #fff;
		&:hover i {
			color: $blue !important;
		}
		i {
			font-size: 28px;
		}
	}
}

p.fa {
	padding-left: 20px;
	position: relative;
	display: block;
	&:before {
		position: absolute;
		top: 3px;
		left: 0;
		color: #fff;
		font-family: 'fontawesome';
		font-size: 15px;
	}
}

