/* =====================
	Header Style 
======================== */

body.show-nav {
	#header-container, #header {
		position: initial;
	}
}
#header-container {
	@include box-shadow(0px 2px 2px -1px rgba(0,0,0,0.35));
	position: relative;
    z-index: 2;
}
.top-header {
	position: relative;
	z-index: 4;
	padding: 0 12px;

	p.fa {
		padding-left: 40px;
		&:before {
			position: absolute;
			left: 0;
		    top: 50%;
		    margin-top: -14px;
			font-family: 'fontawesome';
			color: $orange;
			border: 2px solid $orange;
			line-height: 100%;
			line-height: 23px;
			width: 23px;
			text-align: center;
			@include border-radius(50%);
		}
	}
	.twocol-one {
		margin-bottom: 0;
	}
	.left-content {
		@include tablet-portrait { 
			line-height: 0;
		}

	}
	.right-content {
		text-align: right;
		line-height: 100%;
	
	}
	ul.meta-links {
		display: block;
		text-align: right;
		li {
			display: inline-block;
			text-align: center;
			border-left: 1px solid #fff;

			a {
				line-height: 50px;
				padding: 0 14px;
				font-size: 16px;
				display: block;
				color: #000;
				text-align: center;
				&:hover {
					text-decoration: none;
				}
			}
			&.active-btn {
				a {
					background: $orange;
					color: #fff;
				}
			}

			&.search {
				margin-right: -12px;
				img {
					margin-bottom: -64px;
					@include tablet-landscape { 
						margin-bottom: 0;
						margin-top: 0px;
						width: 51px;
						@include transform(translateY(-100%));
					}
				}
			}
		}
	}
}
#header { 
	padding-top: 0px;
	padding-bottom: 0px;

}
	/* Nav Toggle Style
	======================== */
	.nav-toggle {
		background: $blue;

	}
	/* Header Logo
	======================== */
	#logo {
		margin-top: -22px;
		@include tablet-landscape { 
			text-align: center;
			margin-bottom: 10px;
			margin-top: 0;
		}
	}
	/* =====================
		Header Widget Right 
	======================== */
	.header-widget {

		.textwidget {
			
		}
	}

	/* =====================
		Navigation Style 
	======================== */
	#nav-container {
		float: right;
		background: none;
		padding: 0;
		border: 0 !important;
		margin-bottom: 0;
		margin-right: 89px;
		margin-top: 10px;
		#navigation ul#main-nav>li:first-child {
			border: 0;
		}
	}	
		.logged-in #navigation{
			
		}
		#navigation {
			background:  none;
			.menus {
		
			}
			#mega-menu-wrap-primary-menu .mega-menu-toggle + #mega-menu-primary-menu {
				display: block;
			}
			#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu {
				background: #f4f4f4;
				@include border-radius(0);
				box-shadow: 0px 0px 2px rgba(0,0,0,0.2) !important;

				li.mega-menu-item a.mega-menu-link {
					color: #2b2b2b;
					font-size: 15px;
					line-height: 1.2em;
					padding: 3px !important;
					display: block;
					font-family: $coda;
					font-weight: normal;
				}
			}
			// #mega-menu-wrap-primary-menu .mega-menu-toggle + #mega-menu-primary-menu li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {

			// }
			#navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu {
				@include tablet-landscape {
					display: none;
				}
			}
			#wrapper #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li a:before, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li > a.mega-menu-link:before, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item a:before, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link:before  {
				@include tablet-landscape {
					display: none !important;
				}
			}
			#mega-menu-wrap-primary-menu .mega-menu-toggle + #mega-menu-primary-menu li.mega-menu-item.mega-menu-megamenu.mega-toggle-on > ul.mega-sub-menu, #navigation #mega-menu-wrap-primary-menu .mega-menu-toggle + #mega-menu-primary-menu li.mega-menu-item > ul.mega-sub-menu {
				@include tablet-landscape {
					display: none;
				}
			}
			#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
				@include tablet-landscape {
					width: 100% !important;
					float: none !important;
				}
			}
			#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu {
				background: #f4f4f4;
				@include border-radius(0);
				box-shadow: 0px 0px 2px rgba(0,0,0,0.2) !important;

				li.mega-menu-item {
					
					a.mega-menu-link {
						color: #2b2b2b;
						font-size: 15px;
						line-height: 1.2em;
						padding: 3px !important;
						display: block;
						font-family: $coda;
						font-weight: normal;
					}
				}
				> li.mega-menu-item  {
					border-right: 1px solid #fff;
					padding: 0px !important;
					> a.mega-menu-link {
						border-bottom: 1px solid #ccc;
						color: #2b2b2b !important;
						padding: 10px  !important;
						display: block  !important;
					}
					ul.mega-sub-menu {
						padding: 10px;
					}
				}
			}
			.mega-menu-toggle {
				display: none;
			}
			h3 {
				display: none;
			}
			ul.nav {
				float: none;
				margin: 10px 0 0;

				ul.sub-menu {
					padding: 0;
					background: #fff;
					@include box-shadow(0px 2px 3px 0px rgba(0,0,0,0.35)); 
					@include tablet-landscape {
						margin: 0;
						padding: 0;
						display: none;
					}
					li {
						border-bottom: 1px solid #e1e1e1;
					    border-top: 1px solid #fff;
					    background: #f7f7f7;
					}
					a {

						&:hover {
							text-decoration: none;
							background: $blue !important;
							color: #fff !important;
						}
					}
				}
				> li:hover, > li a:hover {
					background: none;
				}
			}
		}
			#mega-menu-wrap-primary-menu #mega-menu-primary-menu li.mega-menu-item.mega-current-menu-item {
				> a.mega-menu-link {
					color: $orange !important;
				}
			}
			ul.nav, #mega-menu-wrap-primary-menu #mega-menu-primary-menu  {
				
				ul.mega-sub-menu {
					top: 100%;
					li.mega-menu-item {
						margin-left: 0;
						> a.mega-menu-link {
							padding: 0 !important;
							line-height: 1.5em;
						}
					}
				}
				> li , > li.mega-menu-item {
					margin-left: 16px;
					padding-bottom: 20px;
					@include tablet-landscape {
						margin-left: 0;
						padding-bottom: 0;
						border-bottom: 1px solid #e1e1e1;
					    border-top: 1px solid #fff;
					    float: none;
					    display: block;
					}
					&:last-child {
						margin-right: 0;
					}
					&:first-child {
						margin-left: 0;
					}
					&.has-child {
						position: relative;
					}
					.dropdown-btn {
						color: #fff;
						background: $orange;
						display: block;
						padding: 0.6em 1.2em;
						position: absolute;
						top: 0;
						right: 0;

						i {
							font-size: 28px;
						}
					}
					
					a, > a.mega-menu-link {
						color: #0a0a0a;
						padding: .7em 0.2em !important;
						font-family: $coda;
						font-size: 15px;
						height: auto;
						line-height: 100%;
						@include tablet-landscape {
							padding: 1em 1em !important;
						}
						&:hover {
							color: $orange;
							@include transition(0.4s);
						}
						&:after {
							display: none !important;
						}
					}


					&.current_page_item,
					&.current_page_parent, 
					&.current-menu-ancestor,
					&.current-cat,  
					&.current-menu-item, 
					&.mega-current_page_item, &.mega-current-menu-item {
						a {
							color: $orange;
							background: none;
						}

						> a {
							position: relative;
							display: block;
							@include box-shadow(inset 0px -2px 0px 0px $orange);
						}
					}
				}
			}


// Breadcrumbs
.home .breadcrumb {
	display: none;
}

