/* =====================
	Main Section Style 
======================== */
.home #content {
	padding: 0;
}
.inner-page-banner {
	padding: 0 12px;
	height: 636px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 2em;
	overflow: hidden;
	position: relative;
	@include box-shadow(inset 0px -134px 73px -77px rgba(255,255,255,1));
	margin-bottom: -33em;
	&:before {
		content: "";
		position: absolute;
		top: 86px;
		left: 0;
		bottom: 0;
		width: 100%;
		background: #fff;
	}
	h2.custom-page-title {
		margin-bottom: 0;
		font-family: $coda;
		font-weight: normal;
		color: #fff;

		text-transform: uppercase;
		font-size: 30px;
		margin-top: 25px;
		@include mobile-protrait {
			margin-top: 10px;
		}
	}
	#sidebar {
		line-height: 0;
		margin-top: 0;
	}
}

.featured-articles {
	padding: 90px 12px 10px;
	background-color: #fff;
	// background-size: cover;
	// background-repeat: no-repeat;
	// background-position: center;
	//@include background-image(linear-gradient(left, rgba(192,191,191,1) 0%,rgba(209,208,208,1) 24%,rgba(239,239,239,1) 50%,rgba(209,208,208,1) 79%,rgba(192,191,191,1) 100%));
	@include mobile-landscape {
		padding: 60px 12px 40px;
	}

		margin-bottom: 0;
		img {
			height: auto !important;

			&.alignnone {
				display: inline-block;
    			vertical-align: middle;
			}
		}
		p, li {
			color: #191919;
			font-family: $avenir;
			font-size: 20px;
			margin-bottom: 1em;
			line-height: 1.2em;
		}

		a {
			color: $orange;
			font-family: $avenir;
			text-decoration: none;
			font-size: 20px;
			&:hover {
				text-decoration: none;
			}
		}
	
	h1, h2, h3, h4, h5, h6 {
		color: #333;
		border: 0;
		padding: 0;
		margin-bottom: 0.5em;
		font-family: $avenir;
		font-weight: normal;
	}
	h1 { font-size: 40px; }
	h2 { font-size: 35px; }
	h3 { font-size: 30px; }
	h4 { font-size: 25px; }

	ul, ol {

		li {
			list-style: none;
			padding-left: 40px;
			position: relative;
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				content: "";
				width: 25px;
				height: 35px;
				background-image: image-url('icon-list.png');
				background-repeat: no-repeat;
			}
			&.lock:before  {
				background-position: 0 0;
			}
			&.locked:before {
				background-position: -2px -62px;
			}
			&.dollar:before {
				background-position:  -2px -123px;
			}

		}
	}

	.widget {
		p {
			font-size: 18px;
		}
		a {
			color: $orange;
		}
	}
}

.featured-articles2 {
	padding: 0 12px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	background-position: center;
	.col-full {
		position: relative;
		padding: 112px 0px 30px;
		@include box-sizing(border-box);
		@include mobile-landscape {
			padding: 30px 0px 30px;
		}
	}
	.phone {
		position: absolute;
		bottom: 0;
		left: -310px;
		width: 521px;
		height: 451px;
		background-image: image-url('phone.png');
		background-repeat: no-repeat;
		background-position:  0 0;
		display: block;
		text-indent: -9999px;
		@include mobile-landscape {
			display: none;
		}
	}
	@include mobile-landscape {
		background-position: center right;
		padding: 40px 12px 40px;
	}
	
		margin-bottom: 0;
		@include mobile-landscape {
			br {
				display: none;
			}
		}
		img {
			height: auto !important;
		}
		p, li {
			color: #fff;
			font-family: $avenir-light;
			font-size: 20px;
			margin-bottom: 1em;
			line-height: 1.2em;
			padding-left: 220px;
			@include mobile-landscape {
				padding: 10px;
			}
			
		}
		li {
			@include background(linear-gradient(to right, rgba(0,0,0,0.5) , rgba(0,0,0,0.05)));
			margin-bottom: 3px;
			padding: 10px 0 10px 220px;
			@include mobile-landscape {
				padding: 10px;
			}
		}

		a {
			font-family: $avenir;
			text-decoration: none;
			font-size: 17px;
			&.btn {
				display: inline-block;
				line-height: 100%;
				padding: 14px 10px;
				background: $orange;
				color: #fff;
				@include border-radius(4px);
			}
			&:hover {
				text-decoration: none;
				background: $blue;
			}
		}


	
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
		border: 0;
		padding: 7px 0;
		padding-left: 220px;
		margin-bottom: 0.5em;
		font-family: $avenir-light;
		font-weight: normal;
		background: $blue;
		margin-bottom: 4px;
		@include background(linear-gradient(to right, rgba($blue,0.5) , rgba($blue,0.05)));
		@include mobile-landscape {
			padding-left: 20px;
		}
		strong, b {
			font-family: $avenir-heavy;
			font-weight: normal;
			font-size: inherit;
		}
	}
	h1 { font-size: 35px; }
	h2 { font-size: 31px; }
	h3 { font-size: 27px; }
	h4 { font-size: 24px; }

	ul, ol {
		max-width: 600px;
		margin-bottom: 25px;
		li {
			list-style: none;
			position: relative;
		}
	}
}
.featured-section {
	padding: 40px 12px 0;
	background: #f0f0f0;

}
.featured-advetise-slide {
	padding: 10px 12px;
	background: #fff;
	position: relative;
	z-index: 2;
	.widget {
		margin-bottom: 0;
	}
}
.fb-comments.fb_iframe_widget {
	width: 100%;
	span, .fb_ltr {
		width: 100% !important;
	}
}

.featured-video {
	padding: 15px;
	@include box-sizing(border-box);
	background: #fff;
	> h2 {
		color: #666;
		font-size: $h3;
		font-weight: normal;
		font-family: $century-gothic;
		@include mobile-protrait {
			font-size: $h4;
		}
	}
}
.facebook-comment {
	padding: 15px;
	@include box-sizing(border-box);
	background: #fff;
	.featured-section-title {
		color: #666;
		font-size: $h3;
		font-weight: normal;
		font-family: $century-gothic;
		@include mobile-protrait {
			font-size: $h4;
		}
	}
}

.featured-video-list {
	max-height: 600px;
    overflow-y: scroll;

	div {
		margin-bottom: 0;
	}

	.video-item {
		background: $blue;
		padding: 20px;
		margin-bottom: 7px;
		border-radius: 4px;

		h4 {
			font-size: 16px;
			font-family: $avenir;
			font-weight: normal;
			color: #fff ;
			text-transform: uppercase;
			a {
				color: #fff;
				font-size: 16px;
				font-family: $avenir;
			}
		}

		p {
			color: #000;
			font-size:14px;
			line-height: 20px;
			font-family: $avenir;
		}

		a.buy-on-dvd {
			font-family: $lato-bold;
			color: #fff;
			font-size: 14px;
			width: 48px;
			text-align: center;
			background: $orange;
			display: inline-block;
			clear: both;
			margin-top: 10px;
			padding: 8px;
			line-height: 1.2em;
			-webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
			clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
			@include box-shadow(inset 0px 0px 50px -15px rgba(0,0,0,0.75));
			@include transition(0.3s);
			&:hover {
				text-decoration: none;
				@include box-shadow(inset 0px 0px 30px -15px rgba(0,0,0,0.75));
				@include transition(0.3s);
			}
		}

		.right-section {
			text-align: right;
		}
	}
}

::-webkit-scrollbar {
    width: 8px;

}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 8px;
    background: #666; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 

}
::-webkit-scrollbar-thumb:window-inactive {
	background: #666; 
}

.testimonial-section {
	padding: 20px 12px 0;
	background: #f6f5f5;

	.threecol-one, .threecol-two {
		margin-bottom: 0;
	}
	blockquote {
		font-size: 40px;
		margin-left: 60px;
		margin-top: 60px;
		position: relative;
		font-family: $lato-ita;
		line-height: 1.3em;
		color: #3da6cd;
		margin-bottom: 40px;

		@include mobile-protrait {
			font-size: 20px;
		}
		&:before {
			content: "";
			position: absolute;
			left: -65px;
			top: 0;
			display: block;
			width: 36px;
			height: 32px;
			background: image-url('quote.png') no-repeat center center;
		}
		p {
			font-size: 40px;
			color: #3da6cd;
			font-family: $lato-ita;
			line-height: 1.3em;
			@include mobile-protrait {
				font-size: 20px;
			}
		}
		cite {
			display: block;
			text-align: right;
			font-family: $lato;
			font-size: 30px;
			text-decoration: none;
			font-style: none;
			@include mobile-protrait {
				font-size: 17px;
			}
		}
	}

	a {
		font-family: $avenir;
		text-decoration: none;
		font-size: 17px;
		&.btn {
			display: inline-block;
			line-height: 100%;
			padding: 14px 10px;
			background: $orange;
			color: #fff;
			@include border-radius(4px);
		}
		&:hover {
			text-decoration: none;
			background: $blue;
		}
	}

}

.filtlinks {
	a {
		color: #676767;
		font-size: 14px;
		@include background(linear-gradient(#f2f2f2,#fff));
		display: inline-block;
		padding: 10px;
		border: 1px solid #ccc;
		margin-right: 10px;
		text-decoration: none !important;
		text-transform: capitalize;
	}
}
.viewselect + hr {
	display: none;
}

.viewselect {
	border-bottom: 2px solid #b3b3b3;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 15px;
	@include mobile-protrait {
		display: none;
	}
	&:before {
		content: "";
		position: absolute;
		bottom: -3px;
		left: 0;
		height: 5px;
		width: 45px;
		background: #666;
	}
}

.lighbox-overlay {
	position: fixed;
	background: rgba(#000, 0.4);
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	z-index: 2;
	&.visible {
		display: block;
	}
}