/* =====================
	Sidebar Style 
======================== */
.search_main {
	.searchform {
		margin: 0;
		width: 100%;
		border: 0;

		input.s {
			font-size: 16px;
			font-family: $lato;
			background: #f4f4f4;
			width: 100%;
			@include border-radius(0px);
			padding: 16px 12px;
			border: 1px solid #d5d5d5;
		}
		button.submit {
			position: relative;
			background: #3da6cd;
			left: 0;
			right: auto;
			display: block;
			top: 0;
			margin-top: 10px;
			width: 100%;
			font-size: 18px;
			border: 0;
			padding: 8px 0;
			@include border-radius(4px);
			font-family: $century-gothic;
		}	
	}	

}

.gridvid article, .page-template-template-video-php .gridvid article {
	margin-bottom: 2%;
}
#content {

	.postthumb {
		margin-bottom: 10px;
	}
	.looptitle, .looptitle a {
		font-size: 16px;
		line-height: 1.2em;
		font-family: $lato-bold;
		margin-bottom: 5px;
	}
	.gridvid .vidmeta, .archive .gridvid .vidmeta, .gridvid .buynow, .looptitle {
		text-align: left;
		padding: 0 10px;
	}
	.gridvid .vidmeta, .archive .gridvid .vidmeta {
		font-size: 14px;
	}
}
#sidebar {

	ul, ol {
		li {
			list-style: none;
			padding: 0;
			position: relative;
			.dropdown-btn-sidebar {
				position: absolute;
				right: 0;
				top: 0;
				padding: 5px 10px 12px ;
				cursor: pointer;
				&:hover {
					background: #f1f1f1;
				}
			}
			a {
				color: #515b74;
				font-size: 18px;
				font-family: $lato-bold;
				text-transform: uppercase;
				display: inline-block;
				padding: 10px 0;
				&:hover {
					text-decoration: none;
				}
			}
			ul {
				display: none;
				background: #f4f4f4;
				padding-left: 0;
				li {
					position: relative;
					padding-left: 40px;
					border: 0;
					&:hover {
						background: #fff;
					}
					&:before {
						content: "\f101";
						font-family: 'fontawesome';
						position: absolute;
						left: 20px;
						top: 50%;
						margin-top: -8px;
					}
					a {
						font-family: $lato;
						font-size: 16px;
					}
				}
			}
		}
	}
	a {
		color: $blue;
	}
	.widget {
		> h3 {
			font-family: $century-gothic;
			color: #666;
			font-size: 28px;
			font-weight: normal;
			padding-bottom: 20px;
			text-transform: uppercase;
			border-bottom: 2px solid #b3b3b3;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				bottom: -3px;
				left: 0;
				height: 5px;
				width: 45px;
				background: #666;
			}
			span {
				color: $blue;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.widget {

	p {
		font-family: $base-font-family;
		font-weight: normal;
		font-size: $base-font-size;
		line-height: $line-height;
	}
	h3 {
		
	}
}

#search-filter-form-391 ul > li {
	margin: 0 0 20px;
}

#search-filter-form-391 ul li ul {
	border: 1px solid #ccc;
	border-top: 0;
    @include background(linear-gradient(#f2f2f2,#fff));
	li {
		padding: 10px !important;
		margin-bottom: 0;
		&:before {
			display: none;
		}
	}
}

.searchandfilter h4 {
	padding: 10px;
	border: 1px solid #ccc;
	@include background(linear-gradient(#f2f2f2,#fff));
}

.searchandfilter label {
	font-size: 14px;
}