/*
	Theme Name: Tennis Resources
	Theme URI: 
	Description: Tennis Resources Wordpress Theme
	Author: Click And Create
	Author URI: http://clickandcreate.us/
	Template: canvas
	Version: 6.1.0
*/


html {
    margin-top: 0px !important;
}

#loopedSlider.business-slider .content p, #loopedSlider.business-slider .content li, .hero-banner .content p, .hero-banner .content li, .downarrow a.scrolllink {
    font-family: "Raleway",sans-serif !important;
}

.modal p {
    margin-bottom:15px;
}

.sf-field-sort_order {
    display:none !important;
}

table th, table td {
padding: 10px;
border:1px solid #dedede;
}

.featured-articles {
    padding: 30px 12px 10px !important;
}

.page-template-template-bookmarks p {
    margin-bottom:20px;
}

#logo .site-title, #logo .site-description {
    display: none;
}

.accounthead {
border-bottom:1px solid #ddd;
margin-top:1em;
clear:both;
}

.hero-banner .downarrow {
    color: white;
    text-align: center;
margin-top:10%;
}

.single article {
    width:100% !important;
}

#loopedSlider.business-slider .preloader-ball, .hero-banner .preloader-ball { 
background-position: center; 
background-repeat: no-repeat; 
background-image: url(/wp-content/uploads/2016/02/trload3.gif) !important; 
position: absolute; 
top: 0; 
left: 0; 
width: 100%;
display: block; }

#loopedSlider.business-slider, .hero-banner {
    background-image: none !important;
    background-color: #3894b9 !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}
#trapi-player-control {
    cursor: pointer;
    margin-top: -70px !important;
    margin-left:15px;
    position:relative;
    z-index:999;
    text-decoration: underline;
}
.playervideo, .playercamera, .playeraudio, .playerdoc {
text-align:center;
margin-bottom:15px;
font-family: 'FontAwesome';
font-size:100px;
color:#ec8441;
}
.playervideo::before {
content: "\f01d";
}
.playercamera::before {
content: "\f03d";
}
.playeraudio::before {
content: "\f028";
}
.playerdoc::before {
content: "\f15c";
}

.trapi-player-pause {
background:url(/wp-content/uploads/2016/02/pausebutton.png);
height:50px;
width:50px;
background-size:contain;
text-indent:-9999px;
}
.trapi-player-play {
background:url(/wp-content/uploads/2016/02/playbutton.png);
height:50px;
width:50px;
background-size:contain;
text-indent:-9999px;
}

.mega-menusearch a.dashicons-arrow-down-alt2, .mega-menumobile a {
color:#ec8441 !important;
}

.testimonial-section {display:none;}


input[type="radio"] {
    -webkit-appearance: checkbox !important; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox !important;    /* Firefox */
    -ms-appearance: checkbox !important;     /* not currently supported */
}

.tml-action-links li {
padding-left:20px !important;
}

.bookmark {
margin-bottom:15px;
float:left;
max-width:200px;
vertical-align:middle;
border:1px solid #ddd;
border-radius:8px;
text-align:center;
padding:15px;
margin-right:15px;
}
.bookmarkthumb {
width:178px;
height:100px;
padding:3px;
border:1px solid #ddd;
vertical-align:middle;
margin:0 auto 15px auto;
clear:both;
}

.ovelay-background-banner {
    background: rgba(61, 166, 205, 0.82) none repeat scroll 0 0 !important;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

#banner-search {
    margin: 0 auto 15% !important;
	background:none !important;
max-width:100% !important;
}
#banner-search input[type="text"] {
    border: medium none !important;
    color: rgba(43,134,168,0.9) !important;
    font-family: "Raleway",sans-serif;
font-weight:normal !important;
    font-size: 30px !important;
    line-height: 100%;
    padding: 20px 30px !important;
background:rgba(255,255,255, 0.5) !important;
text-align:center !important;
}

#banner-search ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #2b86a8;
opacity:  0.9;
}
#banner-search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #2b86a8;
   opacity:  0.9;
}
#banner-search ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #2b86a8;
   opacity:  0.9;
}
#banner-search :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #2b86a8;
opacity:  0.9;
}
#banner-search :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #2b86a8;
opacity:  0.9;
}
#banner-search button {
    border:none !important;
color: rgba(43,134,168,0.9) !important;
margin-top:5px;
}
#loopedSlider.business-slider .content h1, .hero-banner .content h1 {
    color: white !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 50px;
    font-weight: 600 !important;
    margin-top: 100px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

div#graybg {
background-color:rgba(0,0,0,0);
position:fixed;
width:100%;
height:100%;
z-index:500;
display:none;
}
div#graybg.active {
background-color:rgba(0,0,0,0.4) !important;
webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
display:block !important;
}



ul.bookmarks li {
margin:10px 0px;
}

#sidebar ul li .dropdown-btn-sidebar, #sidebar ul li .dropdown-btn-sidebar i, #sidebar ol li .dropdown-btn-sidebar {
    font-size:18px !important;
}



.filtlinks i {
color:#ffffff !important;
background:#ff0000;
margin-left:5px;
padding:2px;
border-radius:50%;
}

#loopedSlider.business-slider .content h1, .hero-banner .content h1 {
text-transform: none;

}

.featured-articles {
background-size: cover;
background-repeat: none;
background-position: center;
}
.looptitle a[href*="_sf_s"] {
	font-weight: bold;
}


.featured-articles ul li::before, .featured-articles ol li::before {
    background-image: url(/wp-content/uploads/2016/01/iconlist.png) !important;
}

.featured-articles ul li.dollar::before, .featured-articles ol li.dollar::before {
    background-position: 0px -123px !important;
}

.featured-articles ul li.locked::before, .featured-articles ol li.locked::before {
    background-position: 0px -62px !important;
}



b, strong {
	font-weight:bold !important;
}

.vidframe {
padding:10px;
border-radius:8px;
border:1px solid #d9d9d9;
box-shadow:1px 1px 3px rgba(0,0,0,0.4);
background:white;
}

.buydvd, .buynow {
margin-top:20px;
line-height:39px;
margin-bottom:20px;
padding:0 !important;
}



.entry .shortcode-toggle h4 a {
  background-color: #ddd !important;
    color: #000 !important;
    padding: 10px 15px;
    text-decoration: none !important;
}

.inner-page-banner h2.custom-page-title {
    text-shadow:3px 3px 3px rgba(0,0,0,0.6);
}



.mejs-container {
    position: relative;
   z-index:1 !important;
}



.sf-field-search label {
    width: 100%;
}

.inner-page-banner #sidebar {
display:none;
width:0 !important;
}




.blue {
background:#3da6cd !important;
}



.blue:hover {
background:#ec8441 !important;
}



.inner-page-banner #main {
width:100% !important;
}


.sf-field-search input {
border: 2px solid #ec8441;
background:#ec8441;
border-radius:5px;
color:white;
}
.sf-field-search input::-webkit-input-placeholder, .sf-field-search input:-moz-placeholder, .sf-field-search input::-moz-placeholder  {
color:white !important;
}

.sf-field-search ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
opacity:  1;
}
.sf-field-search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
.sf-field-search ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
.sf-field-search :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
opacity:  1;
}
.sf-field-search :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #ffffff;
opacity:  1;
}


.mediatype-Video {
font-size:12px;
font-weight:normal;
color:white;
background:#ec8441;
padding:3px;
border-radius:2px;
margin-top:5px;
}

.mediatype-Audio {
font-size:12px;
font-weight:normal;
color:white;
background:#3da6cd;
padding:3px;
border-radius:2px;
margin-top:5px;
}

.mediatype-Article {
font-size:12px;
font-weight:normal;
color:white;
background:#87d36b;
padding:3px;
border-radius:2px;
margin-top:5px;
}

.mediatype-Document {
font-size:12px;
font-weight:normal;
color:white;
background:#c5e66c;
padding:3px;
border-radius:2px;
margin-top:5px;
}

.creditlabel {
font-size:12px;
font-weight:normal;
color:white;
background:#3da6cd;
padding:3px;
border-radius:2px;
margin-left:10px;
margin-top:5px;
}





.widget-meta-data-filter h3 {



margin:0 !important;



}







.post-entries {display:none;}







.archive_header {



    display:none !important;



}



.single h1.title {display:none;}







.search h2.entry-title {



margin-bottom:5px !important;



font-size:18px !important;



}



.filtlinks {
float:left;
width:50%;
line-height:40px;
}

.sortlink {
float:right;
width:20%;
line-height:40px;
display:inline-block;
}

@media only screen and (max-width:530px) {
.filtlinks {
float:left;
width:60%;
line-height:40px;
}

.sortlink {
float:right;
width:35%;
line-height:40px;
display:inline-block;
}

    .gridvid article {
        width: 250px;
        margin:0 auto 20px auto;
    }
}






.viewselector a {



background: rgba(0, 0, 0, 0) linear-gradient(#f2f2f2, #ffffff) repeat scroll 0 0;



    border: 1px solid #ccc;



    color: #676767;



    display: inline-block;



    font-size: 14px;



    margin-right: 10px;



    padding: 10px;



    text-decoration: none !important;



    text-transform: capitalize;



font-size:18px;



}



.viewselector a.active {



box-shadow:1px 1px 3px rgba(0,0,0,0.4);



}



.filtlinks a {
margin-right:15px;
padding:0px 10px !important;
font-size:10px;
}



#sidebar ul li ul li::before, #sidebar ol li ul li::before {



    left: 7px !important;



}



#sidebar ul li .dropdown-btn-sidebar, #sidebar ol li .dropdown-btn-sidebar {



    cursor: pointer;



    padding: 10px 10px 14px !important;



position:absolute;



    right: 0;



    top: 0px;



}



#sidebar ul li ul li:hover {



background:#f4f4f4 !important;



}



#sidebar ul li ul li .dropdown-btn-sidebar, #sidebar ol li ol li .dropdown-btn-sidebar {



    cursor: pointer;



    padding: 0px 10px 14px !important;



position:absolute;



    right: 0;



    top: 0px !important;



}



#sidebar ul li ul li, #sidebar ol li ul li {



    padding-left: 15px !important;



}



#sidebar ul li ul li.has-children {



border-bottom: 1px solid #ccc;



}







/*.sf-item-277, .sf-item-278, .sf-item-326, .sf-item-345 {



display:none !important;



}*/


.sf-input-checkbox, .sf-input-radio {
width: 25px !important;
}

.listvid .looptitle, .archive .listvid .looptitle {
font-weight:bold;
font-size:16px;
margin-bottom:0px;
text-align:left;
}


.gridvid .looptitle {
height:30px;
}


.looptitle {
text-transform:uppercase;
font-weight:bold;
}

#content .looptitle, #content .looptitle a {
font-size:13px !important;
}


#loopedSlider.business-slider .content .col-full {
    box-sizing: border-box;
}


div.nonmembervideo, div.choosecredit {
width:100%;
height:330px;
background:url(/wp-content/uploads/2016/01/nonmemberbg_video.jpg) center no-repeat;
padding:150px 0px 0px 0px;
}

div.nonmemberaudio {
width:100%;
height:330px;
background:url(/wp-content/uploads/2016/01/nonmemberbg_audio.jpg) center no-repeat;
padding:150px 0px 0px 0px;
}

div.nonmemberdocument {
width:100%;
height:330px;
background:url(/wp-content/uploads/2016/01/nonmemberbg_download.jpg) center no-repeat;
padding:150px 0px 0px 0px;
}

div.nonmemberarticle {
width:100%;
height:330px;
background:url(/wp-content/uploads/2016/01/nonmemberbg_article.jpg) center no-repeat;
padding:150px 0px 0px 0px;
}

div.innernon  {
font-size:30px;
font-family: "codaregular",sans-serif;
color:white;
text-align:center;
padding:20px;
background:rgba(0,0,0,0.6);
}


div.nonmember p a {
font-size:30px;
color:#ff0000 !important;
}

.post-entries {
    clear: both;
    margin-top: 10px !important;
}

.single-video .woo-image, .single-video .vidmeta {display:none;}

.red {

color:#ff0000;
}


.page-template-template-video-php .listvid article, .archive .listvid article {
width:100%;
clear:both;
margin-bottom:15px;
}

.green {
color:#5ab843;
}

.yellow {
color:#f9e13e;
}

.vidmeta, .archive .vidmeta {
margin-bottom:10px;
text-align:center;
}


.gridvid .vidmeta, .archive .gridvid .vidmeta {
margin-bottom:10px;
text-align:center;
}


.listvid .vidmeta, .archive .listvid .vidmeta {
margin-bottom: 10px;
text-align: left;

}


.vidlength {
float:left;
}


.access {
float:right;
}

.page-template-template-video-php .entry, .tax-video-category .entry, .tax-video-category .post-more, .post-type-archive-video .post-more, .post-type-archive-video .entry {
display:none;
}

.page-template-template-video-php .gridvid .entry, .tax-video-category .gridvid .entry, .tax-video-category .post-more, .post-type-archive-video .post-more, .post-type-archive-video .gridvid .entry {
display:none;
}


.page-template-template-video-php .listvid .entry, .tax-video-category .listvid .entry, .post-type-archive-video .listvid .entry {

display:block !important;

}


.postthumb img.aligncenter {
margin-bottom:0 !important;

}

.postthumb .vidtime {
    background: rgba(0,0,0,0.4);
    padding: 5px;
    position: relative;
    top: -25px;
    margin-bottom: -15px;
}


.gridvid .postthumb .vidtime {
background:rgba(0,0,0,0.4);
padding:5px;
position:relative;
top:-25px;
margin-bottom:-15px;
}

.listvid .postthumb .vidtime {
background:rgba(0,0,0,0.4);
padding:5px;
position:absolute;
top:63px;
width:85%;
}
.listvid .alignleft {
     margin:5px 15px 5px 0 !important;
}

.postthumb, .archive .postthumb {
text-align:right;
padding:7px;
color:white;
font-weight:bold;
background:transparent;

/*position:relative;
bottom:15px;*/
/*margin-bottom:15px;*/
/*max-width:234px;*/
width:90%;
margin:0 auto;
border:1px solid #d9d9d9;
box-shadow:1px 1px 3px rgba(0,0,0,0.4);
border-radius:3px;

}

.gridvid .postthumb, .archive .gridvid .postthumb {
text-align:right;
padding:7px;
color:white;
font-weight:bold;
background:transparent;
/*position:relative;
bottom:15px;*/
/*margin-bottom:15px;*/
/*max-width:234px;*/
width:90%;
margin:0 auto;
border:1px solid #d9d9d9;
box-shadow:1px 1px 3px rgba(0,0,0,0.4);
border-radius:3px;
}

.listvid .postthumb, .archive .listvid .postthumb {
text-align:right;
padding:7px;
color:white;
font-weight:bold;
background:transparent;
position:relative;
float:left;
clear:left;
margin-right:15px;
/*max-width:234px;*/
max-width:150px;
width:90%;
border:1px solid #d9d9d9;
box-shadow:1px 1px 3px rgba(0,0,0,0.4);
border-radius:3px;
}
    .listvid .postthumb img {
        height:80px !important;
    }


#loopedSlider.business-slider .content a.btn {

    font-size: 30px !important;

}



#navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
    background:#3da6cd;
color:white !important;
}



.creditbuy {

background:#eee;

border:1px solid #dedede;

padding:10px;

border-radius:10px;

margin:15px 0px;

}

#content {
    margin-top:20px;
}

.inner-page-banner #main {
    width: 100% !important;
    display:table;
    height:106px;
}

.inner-page-banner h2.custom-page-title {
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0px !important;
    text-transform: uppercase;
    display:table-cell;
    vertical-align:middle;
}

/*.inner-page-banner {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 -134px 73px -77px white inset;
    height:106px;
    margin-bottom: -33em;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
}*/



@media only screen and (min-width:800px) {
    .viewselector {
        float: left;
        width: 25% !important;
        margin-right: 20px;
    }
}
@media only screen and (min-width:767px) {

    .viewselector {
        float:left;
        width:48%;
    }

ul.nav > li a, ul.nav > li > a.mega-menu-link, ul.nav > li.mega-menu-item a, ul.nav > li.mega-menu-item > a.mega-menu-link, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li > a.mega-menu-link, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item a, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link {
    font-size: 16px !important;
    text-transform: uppercase;
    font-weight:400 !important;
    font-family: 'Open Sans' !important;
}
    .meta-links li a {
        font-weight:400 !important;
        font-family: 'Open Sans' !important;
    }
p.slidesubhead {
        text-align:center;
        font-size:28px !important;
        line-height:30px !important;
        font-family: 'Raleway', sans-serif;
    }

#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu {
left: -85px;
}

.inner-page-banner::before {
    top: 106px !important;
}

#search-filter-form-391 ul.children {
background:none !important;
border:none !important;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu {
    margin-right:10px;
}
.buydvd {
float:right;
width:200px;
margin-top:20px;
}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu {
    width: 130% !important;
}

#navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item ul.mega-sub-menu {
    padding: 15px !important;
}

.page-template-template-video-php .gridvid article, .tax-video-category .gridvid article, .post-type-archive-video .gridvid article {
width:31%;
max-width:254px;
float:left;
margin:1%;
height:260px;
}

#navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu, #navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff));
    background: -moz-linear-gradient(#f2f2f2, #ffffff);
    background: -webkit-linear-gradient(#f2f2f2, #ffffff);
    background: linear-gradient(#f2f2f2, #ffffff);
}


.mega-sub-menu a.mega-menu-link:hover {
color:white !important;
}

.page-template-template-video-php article, .tax-video-category article, .post-type-archive-video article {
width:31%;
float:left;
margin:1%;
}


#loopedSlider.business-slider .content h1 {

margin-top:50px;

}

.home #loopedSlider {
min-height: 473px;
}


ul.nav > li, ul.nav > li.mega-menu-item, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item {
    margin-left: 25px !important;
 padding-bottom: 20px;
}

ul.mega-sub-menu li a {

padding:5px !important;


}

#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu {

    box-shadow: 2px 2px 4px rgba(0,0,0,0.5) !important;

}

}



@media only screen and (max-width:535px) {



.twocol-one {
    width: 100% !important;
}

.gridvid article, .archive article {
margin-bottom:30px !important;
position:relative;
float:none !important;
clear:both;

}

.top-header ul.meta-links li a {
    font-size: 13px !important;
    line-height: 40px !important;
    padding: 0 8px !important;
    text-align: center;
}



.top-header ul.meta-links li.search img {
    position:absolute;
	right:0px;
	top:0px;
	z-index: 9999;
}
.top-header {
    margin-bottom:15px !important;
}
    .viewselector {
        display:none;
    }
}


@media only screen and (max-width:1024px) {
    #loopedSlider.business-slider .biz-slider-image, .hero-banner .hero-image {
        display:none !important;
    }
    #loopedSlider.business-slider .content {
        background:url(/wp-content/themes/tennisresources/images/banner-image-load_blue.jpg) no-repeat #3da6cd !important;
        background-size:cover;
    }
    .hero-banner .content {
	background:url(/wp-content/themes/tennisresources/images/banner-image-load_blue.jpg) no-repeat #3da6cd !important;
        background-size:cover;
	}
}




@media only screen and (min-width:535px) and (max-width:767px) {
.page-template-template-video-php article, .tax-video-category article, .post-type-archive-video article {
width:48%;
float:left;
margin:1%;
}
    .viewselector {
        display:none;
    }

.page-template-template-video-php .gridvid article, .tax-video-category .gridvid article, .post-type-archive-video .gridvid article {
width:48%;
float:left;
margin:1%;
height:310px;
}

}

@media only screen and (max-width:768px) {
    
    #loopedSlider.business-slider .content h1, .hero-banner .content h1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px !important;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif !important;
}
    p.slidesubhead {
        text-align:center;
        font-size:22px !important;
        line-height:24px !important;
        font-family: 'Raleway', sans-serif;
    }
}


@media only screen and (min-width:941px) {

#black-studio-tinymce-11, #black-studio-tinymce-6 {
display:none;
}

div.searchlink {
display:none !important;
}

ul.nav > li .dropdown-btn, ul.nav > li.mega-menu-item .dropdown-btn, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li .dropdown-btn, #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item .dropdown-btn {
    display:none;
}

    .mega-menumobile {
        display:none !important;
    }

}



@media only screen and (max-width:940px) {

    .mega-menusearch {
        display:none !important;
    }

#content #sidebar {
display: none;
position:absolute;
top:-200px;
left:-100%;
z-index:9999;
width:80%;
/*backface-visibility: hidden;*/
transform: translate3d(0%, 0px, 0px);
padding:10px;
background:#fff;
border-radius:10px;
border:1px solid #3da6cd;
box-shadow:2px 2px 2px rgba(0,0,0,0.5);
}

#navigation {
    background: #fff !important;
}
#navigation #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    color: #2b2b2b;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.2em;
    padding: 9px 5px !important;
}

    a.searchclose {
        font-size:14px !important;
    }

#content #sidebar.visible {
left:0;
right: 0;
margin: 0 auto;
display: block;
}



div.searchlink {
position:fixed;
top:160px;
right:0px;
z-index:99;
}

div.searchlink a {
font-size:18px;
}

}
@media only screen and (max-width:600px) {
    .inner-page-banner h2.custom-page-title {
    color: #fff;
    display: table-cell;
    font-family: "Open Sans",sans-serif;
    font-size: 20px !important;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0 !important;
    text-transform: uppercase;
    vertical-align: middle;
}
}
