form, #content .gform_wrapper form {
    p, input, textarea, select{
        font-family: $century-gothic;
    }

    input, textarea, select {
        border-color: #ccc;
        border-width: 1px;
        font-size: 14px;
        border-radius: 0;
        padding: 12px;
        width: 100%;
        @include box-sizing(border-box);
        @include background(linear-gradient(#f2f2f2,#fff));
    }
    select {
        padding: 11px;
    }
    input.wpcf7-submit, input[type="submit"]{
        background: $orange;
        font-size: 14px;
        line-height: 100%;
        width: auto;
        border: 0;
        font-family: $century-gothic;
        padding: 0.5em 1em;
        @include border-radius(0);
        &:hover {
            background: $blue;
        }
    }

    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:  none;
        height: 15px;
        width: 15px !important;
        border-radius: 2px;
        &:checked {
            background: #ccc;
        }
    }
}
#wrapper {
    a.button {
        color: #fff;
        @include background(linear-gradient(#e88742,#cb6117));
    }
}
select {
    border-color: #999;
    border-width: 1px;
    font-size: 14px;
    border-radius: 0;
    padding: 11px;
    width: 100%;
    @include box-sizing(border-box);
    font-family: $century-gothic;

}
#footer-widgets-container {
    label.gfield_label {
        display: none;
    }
}
.gform_wrapper  ul.gform_fields {
    li.gfield.gfield_error.gfield_contains_required, li.gfield.gfield_error.gfield_contains_required div.ginput_container,  li.gfield.gfield_error.gfield_contains_required div {
        margin: 0 !important;
    }
    li.gfield.gfield_error.gfield_contains_required div.gfield_description {
        display: none;
    }
    li.gfield {
        margin-bottom: 5px;
        padding-left: 0 !important;
        width: 100%;
        background: none !important;
        border: 0 !important;
        &:before {
            display: none;
            padding-left: 0;
        }
        
        .ginput_container  {
            margin: 0;
        }
    }
}
#footer-widgets .gform_wrapper .top_label input.medium, #footer-widgets .gform_wrapper .top_label select.medium {
    width: 100%;
}
#footer-widgets .gform_wrapper textarea.medium {
    width: 100%;
}
#wrapper .gform_wrapper .gform_footer {
    padding: 0;
    margin: 0;
}
#footer-widget {
    .gform_wrapper .gfield_description.validation_message, .gform_wrapper .top_label .gfield_description.validation_message {
        display: none;
    }
}
#footer-widgets {
    .validation_error {
        display: none;
    }
}

#content .gform_wrapper {
    margin: 0;
    width: 100%;
    max-width: 100%;

    .gform_heading {
        display: none;
    }
    .ginput_complex label,  .gfield_time_hour label,  .gfield_time_minute label,  .gfield_date_month label,  .gfield_date_day label,  .gfield_date_year label,  .instruction {
        margin-top: 0;
        display: block;
        font-family: $century-gothic;
        font-size: 14px;
        color: #333;
    }
     .ginput_complex .ginput_full input[type=email],  .ginput_complex .ginput_full input[type=number],  .ginput_complex .ginput_full input[type=password],  .ginput_complex .ginput_full input[type=tel],  .ginput_complex .ginput_full input[type=text],  .ginput_complex .ginput_full input[type=url] {
        width: 100% !important;
     }

    .ginput_complex .ginput_right select, .ginput_complex select {
        width: 100% !important;
    }

    .ginput_complex .ginput_right {
        margin-left: 3%;
    }
    .ginput_complex.ginput_container.has_first_name.has_middle_name.has_last_name span.name_first,  .ginput_complex.ginput_container.has_first_name.has_middle_name.has_last_name span.name_middle, .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span.name_first {
        margin-right: 2.1%;
    }
}

.gform_confirmation_wrapper  .gform_confirmation_message {
    color: #333;
    font-size: 18px;
    font-family: $lato;
    line-height: 24px;
}