body.full-header.full-slider #loopedSlider {
	margin-top: 0;
	.content {
		text-align: left;
	}
}


.ovelay-background-banner {
	background: rgba($blue, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}
#loopedSlider.business-slider, .hero-banner {
	margin-bottom: 0;
	position: relative;
	z-index: 1;
	background-image: image-url('banner-image-load.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.preloader-ball {
		background-position: center;
		background-repeat: no-repeat;
		background-image: image-url('bouncing-ball.gif');
		background-color: rgba(#fff, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: block;
		z-index: 2;
	}
	.hero-image, .preloader-ball {
		padding-bottom: 56%;
		height: 0;
	}
	.slides {
		opacity: 0;
	}
	.biz-slider-image, .hero-image {
	    position: relative;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	   // background: image-url('bouncing-ball.gif') no-repeat center center;
	    video {
	    	width: 100% !important;
	    	height: auto !important;
	    }

	}

	.wc-gallery {
		margin-top: 60px; 
		text-align: center;
	}
	.content {
		-webkit-animation-duration: 1s; 
	    animation-duration: 1s; 
	    -webkit-animation-fill-mode: both; 
	    animation-fill-mode: both; 
	    -webkit-animation-name: fadeIn; 
	    animation-name: fadeIn;
	    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
		animation-delay: 2s;
		@include box-sizing(border-box);
		bottom: auto;
		top: 50px;
		z-index: 3;
		right: auto;
		left: 0 ;
		background: none;
		padding: 0 12px;
		width: 100%;
		position: absolute;
		@include tablet-landscape {
			background: $blue;
			top: 0;
			padding: 12px;
			position: relative;

		}

		h1 {
			color:white !important;
			font-weight:bold;
			text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
			text-transform:uppercase;
			margin-top: 100px;
			@include tablet-landscape { 
				margin-top: 0;
				font-size: 25px;
			}

			@include mobile-protrait {
				font-size: 20px;
			}
		}

		h2 {
			text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
			font-size: 35px;
			color: $orange;
			margin-bottom: 10px;
			@include tablet-landscape { 
				margin-top: 0;
				font-size: 22px;
			}

			@include mobile-protrait {
				font-size: 18px;
			}
		}
		.col-full {
			padding-right: 0 !important;
			@include box-sizing(border-box);
			@include tablet-portrait {
				padding-right: 0;
			}
		}
		.title {
			padding: 0;
		}
		h2.title {
			font-size: 30px;
			font-family: $avenir;
			color: #fff;
			font-weight: bold;
			margin-bottom: 1em;
			padding: 0px;
			text-transform: uppercase;

			@include mobile-landscape {
				font-size: 16px;
			}
		}
		p {
			margin-bottom: 1.5em;
		}
		p, li {
			font-size: 22px;
			font-family: $avenir;
			color: #fff;
			line-height: 32px;
			padding: 5px 10px 5px 10px;
			//@include background-image(linear-gradient(left, rgba(61,166,205,1) 0%,rgba(61,166,205,0) 100%) !important);
			@include mobile-landscape {
				font-size: 16px;
				line-height: 20px;
			}
		}
		ul, ol {
			margin-bottom: 30px;
			max-width: 400px;
			li {
				position: relative;
				padding: 5px 5px 5px 50px;
				margin-bottom: 3px;
				//@include filter-gradient(#3da6cd, #003da6cd, vertical); 
				@include mobile-landscape { 
					padding-left: 40px;
				}
				&:before {
					position: absolute;
					content: "";
				    left: 10px;
    				top: 5px;
					width: 35px;
					height: 32px;
					background: image-url('check.png') no-repeat center;
					@include mobile-landscape {
						width: 22px;
						height: 22px;
						background-size: contain;
					}
				}
			}
		}

		a.btn {
			font-family: $avenir;
			background: $orange;
			font-size: 30px !important;
			color: #fff;
			display: inline-block;
			padding: 14px 16px;
			line-height: 100%;
			@include border-radius(5px);

			&:hover {
				text-decoration: none;
				background: $blue;
			}
			@include mobile-protrait {
				font-size: 17px !important;
			}
		}

		img {
			height: auto !important;
		}
	}

	a.flex-next, a.flex-prev {
		@include tablet-portrait  {
			display: none;
		}
		span {
			color: $orange;
			border-color: $orange;
		}
	}
}


.downarrow {
	text-align:center;
	color:white;
	a.scrolllink {
		color: #fff;
		font-size: 30px;
		text-decoration: none !important;
		line-height: 100%;
		font-family: $lato;
		font-style: italic;
		i {
			display: block;
		}
	}
}
.downarrow i {
	display: block;
	line-height:100%;
	color:white;
	font-size: 70px;
}


.post-meta {display:none;}


.homesearchbtn {
	color: #999 !important;
	height: 58px;
	background: #fff !important;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    border-left: 1px solid #e0e0e0;
}

#banner-search {
	background: #fff;
	max-width: 640px;
	margin: 0 auto;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	input[type="text"] {
		color: #999;
		font-family: $lato;
		font-size: 30px !important;
		line-height: 100%;
		padding: 10px 16px;
		border: none !important;
	}
	input::-webkit-input-placeholder { /* WebKit browsers */
	  line-height: 1em;
	}
	input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	  line-height: 1em;
	}
	input::-moz-placeholder { /* Mozilla Firefox 19+ */
	  line-height: 1em;
	}
	input:-ms-input-placeholder { /* Internet Explorer 10+ */
	  line-height: 1em;
	}
	button {
		position: absolute;
		top: 0;
		right: 0;
		color: #999;
		border: 0;
		border-left: 1px solid #e0e0e0;
		background: transparent;
		padding: 10px 16px;
		font-size: 30px;
		padding: 15px 30px;
		z-index: 1;
	}
}